<div class="box" style="width: 100%; text-align: center;">
    <h2 style="text-transform: uppercase;"> Hackathon Judges and Mentors</h2>
    <p>We have awesome folks from the ecosystem participating as both judges and
        mentors - see who is involved and make sure to join us!
    </p>
    <div class="row"> </div>

        <div class="row 20% uniform">

            <div class="2u">
                <a href="#open-modal-1"><img
                        src="/assets/images/speakers/benh.png" alt="Ben
                        Hirschberg, ARMO"
                        width="200" /></a>
                <ul class="icons"><span style="text-transform: uppercase; color:
                        turquoise; font-weight: 700;">Ben Hirschberg</span> <br
                        /> <span style="text-transform: uppercase;"> CTO &
                        Co-Founder, ARMO</span><br />
                    <li><a href="https://twitter.com/slashben81" target="_blank"
                            class="icon fa-twitter"></a></li>
                    <li><a
                            href="https://www.linkedin.com/in/ben-hirschberg-66141890/"
                            target="_blank"
                            class="icon fa-linkedin"></a></li>
                    <li><a href="https://github.com/slashben" target="_blank"
                            class="icon fa-github"></a></li>
                </ul>

                <div id="open-modal-1" class="modal-window">
                    <div><a href="#1" title="Close" class="modal-close">X</a>
                        <h4 style="text-transform: uppercase;"></h4>
                        <div></div>
                        <div><small>
                                <p>Ben is a veteran cybersecurity and DevOps
                                    professional, as well as computer science
                                    lecturer. Today, he is the co-founder at <a
                                        href="https://armosec.io"
                                        target="_blank">ARMO</a>, with a vision
                                    of making end-to-end Kubernetes security
                                    simple for everyone, and a core maintainer
                                    of the open source Kubescape project. He
                                    teaches advanced information security
                                    academically in both undergrad and graduate
                                    courses. In his previous capacities, he has
                                    been a security researcher and architect,
                                    pen-tester and lead developer at Cisco, NDS
                                    and Siemens. </p>
                            </small>

                        </div>
                    </div>
                </div>

            </div>

            <div class="2u">
                <a href="#open-modal-2">
                    <img src="/assets/images/speakers/itiel.png" alt="Itiel Shwartz, Komodor" width="200" /></a>
                <ul class="icons"><span style="text-transform: uppercase; color:
                        turquoise; font-weight: 700;">Itiel Shwartz</span> <br
                        /> <span style="text-transform: uppercase;"> CTO &
                        Co-Foundeer, Komodor</span><br />
                    <li><a href="https://twitter.com/itielshwartz"
                            target="_blank" class="icon fa-twitter"></a></li>
                    <li><a
                            href="https://www.linkedin.com/in/itiel-shwartz-18542853/"
                            target="_blank" class="icon fa-linkedin"></a>
                    </li>
                    <li><a href="https://github.com/itielshwartz"
                            target="_blank" class="icon fa-github"></a></li>
                </ul>

                <div id="open-modal-2" class="modal-window">
                    <div><a href="#2" title="Close" class="modal-close">X</a>
                        <div>
                            <small>
                                <p>Itiel is the CTO and co-founder of <a
                                        href="https://komodor.com"
                                        target="_blank">Komodor</a>, a startup
                                    building the first Kubernetes-native
                                    troubleshooting platform. A big believer in
                                    dev empowerment and moving fast, he has
                                    worked at eBay, Forter and Rookout (as the
                                    founding engineer). Itiel is a backend and
                                    infra developer turned “DevOps”, an avid
                                    public speaker that loves talking about
                                    things such as cloud infrastructure,
                                    Kubernetes, Python, observability, and R&D
                                    culture. </p>
                            </small> </div>
                    </div>
                </div>
            </div>



        <div class="2u">
            <a href="#open-modal-4"><img
                    src="/assets/images/speakers/talshatz.png"
                    alt="Tal Shatz, Terasky" width="200" /></a>
            <ul class="icons"><span style="text-transform: uppercase; color:
                    turquoise; font-weight: 700;">Tal Shatz</span><br />
                <span style="text-transform: uppercase;">
                    CSO, Terasky</span> <br />
                <li><a href="https://twitter.com/shatztal" target="_blank"
                        class="icon fa-twitter"></a></li>
                <li><a href="https://www.linkedin.com/in/talshatz/"
                        target="_blank" class="icon fa-linkedin"></a>
                </li>
                <li><a href="https://github.com/shatztal" target="_blank"
                        class="icon fa-github"></a></li>
            </ul>

            <div id="open-modal-4" class="modal-window">
                <div><a href="#4" title="Close" class="modal-close">X</a>
                    <div style="text-transform: uppercase;"></div>


                    <div>
                        <small>
                            As Chief Strategy Officer, Tal is responsible for
                            creating TeraSky’s vision, executing business
                            initiatives and sustaining implementation efforts.
                            Tal joined TeraSky in 2010 and became the company’s
                            key technology leader, leveraging his vast
                            cloud-native expertise. Before joining TeraSky, Tal
                            garnered unique experience while serving in the
                            Israel Defense Forces’ Computer Intelligence Unit
                            and as a solution architect in Glasshouse, a leading
                            system integrator in Israel.

                        </small>
                    </div>
                </div>
                </div>
            </div>


            <div class="2u">
                <a href="#open-modal-20"><img
                        src="/assets/images/speakers/shar1z.png" alt="Sharone Zitzman, RTFM Please"
                        width="200" /></a>
                <ul class="icons"><span style="text-transform: uppercase; color:
                        turquoise; font-weight: 700;">Sharone Zitzman</span><br /> DevRel at Large, RTFM Please <br
                        />
                   <li><a href="https://twitter.com/shar1z/" target="_blank"
                            class="icon fa-twitter"></a></li> 
                    <li><a
                            href="https://www.linkedin.com/in/sharonez/"
                            target="_blank"
                            class="icon fa-linkedin"></a></li>
                <li><a href="https://github.com/shar1z"
                            target="_blank" class="icon fa-github"></a></li> 
                </ul>

                <div id="open-modal-20" class="modal-window">
                    <div><a href="#20" title="Close" class="modal-close">X</a>
                                              
                        <div><small>Sharone Zitzman, is a developer relations professional and an open source community builder, who likes to work with engineering teams that are building products that developers love. Having built both the DevOps Israel and Cloud Native & OSS Israel communities from the ground up, today she spends her time at her company RTFM Please, building dev-first adoption strategies to bring excellent technology and people together. You can find her at <a href="https://rtfmplease.dev" target="_blank">rtfmplease.dev</a> or on <a href="https://linktr.ee/shar1z" target="_blank"> Twitter & Github as @shar1z.
                        </small></div>
                    </div>
                </div>
            </div>


         


            <div class="2u">
                <a href="#open-modal-12"><img
                        src="/assets/images/speakers/orweis.png" alt="Or Weis, Permit.io"
                        width="200" /></a>
                <ul class="icons"><span style="text-transform: uppercase; color:
                        turquoise; font-weight: 700;">Or Weis</span><br /> CEO & Co-Founder, Permit.io <br
                        />
                    <li><a href="https://twitter.com/OrWeis" target="_blank"
                            class="icon fa-twitter"></a></li>
                    <li><a
                            href="https://www.linkedin.com/in/orweis/"
                            target="_blank"
                            class="icon fa-linkedin"></a></li>
                    <li><a href="https://github.com/orweis"
                            target="_blank" class="icon fa-github"></a></li>
                </ul>

                <div id="open-modal-12" class="modal-window">
                    <div><a href="#12" title="Close" class="modal-close">X</a>
                        
                        
                        <div><small>Co-Founder at Permit.io. Or is a developer and Entrepreneur. Speacialising in: Rich R&D and cybersec experience. He is also a Snyk Ambassador and JFrog SuperFrog. Author and Maintainer of OPAL.ac, Founder and ex-CEO at Rookout.com and Founder and CEO at Permit.io</small></div>
                    </div>
                </div>
            </div>
        </div>

<!-- ROW 2 JUDGES -->

        <div class="row 20% uniform">

            <div class="2u">
                <a href="#open-modal-13"><img
                        src="/assets/images/speakers/idanlevi.png" alt="Idan Levi, Opster"
                        width="200" /></a>
                <ul class="icons"><span style="text-transform: uppercase; color:
                        turquoise; font-weight: 700;">Idan Levi</span><br /> DevOps Engineer, Opster <br
                        />
                    <!-- <li><a href="https://twitter.com/adishsh/" target="_blank"
                            class="icon fa-twitter"></a></li> -->
                    <li><a
                            href="https://www.linkedin.com/in/idan-levi-844257182/"
                            target="_blank"
                            class="icon fa-linkedin"></a></li>
                   <!-- <li><a href="https://github.com/adishachamshavit"
                            target="_blank" class="icon fa-github"></a></li> -->
                </ul>

                <div id="open-modal-13" class="modal-window">
                    <div><a href="#13" title="Close" class="modal-close">X</a>
                                              
                        <div><small>Experienced DevOps Engineer with a demonstrated history of working in the Government Relations industry. Skilled in Kubernetes, OpenShift, Bash, Puppet, Linux and Windows. Strong engineering professional with a Engineer's degree focused in Computer Science from Gimnasia Realit. </small></div>
                    </div>
                </div>
            </div>

           
           

            <div class="2u">
                <a href="#open-modal-21">
                    <img src="/assets/images/speakers/rona.png" alt="Rona Hirsch, Komodor" width="200" /></a>
                <ul class="icons"><span style="text-transform: uppercase; color:
                        turquoise; font-weight: 700;">Rona Hirsch</span> <br
                        /> <span style="text-transform: uppercase;"> Senior Fullstack Engineer, Komodor</span><br />
                  <!--   <li><a href="https://twitter.com/itielshwartz"
                            target="_blank" class="icon fa-twitter"></a></li> -->
                    <li><a
                            href="https://www.linkedin.com/in/rona-hirsch-a7831369/"
                            target="_blank" class="icon fa-linkedin"></a>
                    </li>
                    <!-- <li><a href="https://github.com/itielshwartz"
                            target="_blank" class="icon fa-github"></a></li> -->
                </ul>

                <div id="open-modal-21" class="modal-window">
                    <div><a href="#21" title="Close" class="modal-close">X</a>
                        <div>
                            <small>
                                <p>Rona Hirsch is a DevOps engineer who’s passionate about automation, innovation, and creative problem-solving. She enjoys challenging herself and experimenting with new technologies and methodologies. Currently, Rona is working on developing the next-gen k8s troubleshooting platform at Komodor.
                                </p>
                            </small> </div>
                    </div>
                </div>
            </div>



        <div class="2u">
            <a href="#open-modal-22"><img
                    src="/assets/images/speakers/rotem.png"
                    alt="Rotem Refael, ARMO" width="200" /></a>
            <ul class="icons"><span style="text-transform: uppercase; color:
                    turquoise; font-weight: 700;">Rotem Refael</span><br />
                <span style="text-transform: uppercase;">
                    Director of Engineering, ARMO</span> <br />
                <li><a href="https://twitter.com/Rotem_Refael27" target="_blank"
                        class="icon fa-twitter"></a></li>
                <li><a href="https://www.linkedin.com/in/rotem-refael/"
                        target="_blank" class="icon fa-linkedin"></a>
                </li>
                <li><a href="https://github.com/rotemamsa" target="_blank"
                        class="icon fa-github"></a></li>
            </ul>

            <div id="open-modal-22" class="modal-window">
                <div><a href="#22" title="Close" class="modal-close">X</a>
                    <div style="text-transform: uppercase;"></div>


                    <div>
                        <small>
                           Rotem is Director of Engineering at ARMO, where she contributes to the Kubescape open source project, as a staunch and passionate supporter of making open source security better and more accessible for everyone. Rotem is an engineering veteran, with experience as a software developer, architect, product manager, with a focus on the security discipline. She has many years of experience in all aspects of Kubernetes engineering from deployment across various environments, through monitoring––with specific expertise in working with Prometheus and its open source suite––as well as bringing deep know-how in all aspects of IaC, driving best practices and methods wherever she goes.

                        </small>
                    </div>
                </div>
                </div>
            </div>




       <!--       <div class="2u">
                <a href="#open-modal-13"><img
                        src="/assets/images/speakers/idanlevi.png" alt="Idan Levi, Opster"
                        width="200" /></a>
                <ul class="icons"><span style="text-transform: uppercase; color:
                        turquoise; font-weight: 700;">Idan Levi</span><br /> DevOps Engineer, Opster <br
                        />
                    <li><a href="https://twitter.com/adishsh/" target="_blank"
                            class="icon fa-twitter"></a></li> 
                    <li><a
                            href="https://www.linkedin.com/in/idan-levi-844257182/"
                            target="_blank"
                            class="icon fa-linkedin"></a></li>
                   <li><a href="https://github.com/adishachamshavit"
                            target="_blank" class="icon fa-github"></a></li> 
                </ul>

                <div id="open-modal-13" class="modal-window">
                    <div><a href="#13" title="Close" class="modal-close">X</a>
                                              
                        <div><small>Experienced DevOps Engineer with a demonstrated history of working in the Government Relations industry. Skilled in Kubernetes, OpenShift, Bash, Puppet, Linux and Windows. Strong engineering professional with a Engineer's degree focused in Computer Science from Gimnasia Realit. </small></div>
                    </div>
                </div>
            </div>


          <div class="2u">
                <a href="#open-modal-12"><img
                        src="/assets/images/speakers/orweis.png" alt="Or Weis, Permit.io"
                        width="200" /></a>
                <ul class="icons"><span style="text-transform: uppercase; color:
                        turquoise; font-weight: 700;">Or Weis</span><br /> CEO & Co-Founder, Permit.io <br
                        />
                    <li><a href="https://twitter.com/OrWeis" target="_blank"
                            class="icon fa-twitter"></a></li>
                    <li><a
                            href="https://www.linkedin.com/in/orweis/"
                            target="_blank"
                            class="icon fa-linkedin"></a></li>
                    <li><a href="https://github.com/orweis"
                            target="_blank" class="icon fa-github"></a></li>
                </ul>

                <div id="open-modal-12" class="modal-window">
                    <div><a href="#12" title="Close" class="modal-close">X</a>
                        
                        
                        <div><small>Co-Founder at Permit.io. Or is a developer and Entrepreneur. Speacialising in: Rich R&D and cybersec experience. He is also a Snyk Ambassador and JFrog SuperFrog. Author and Maintainer of OPAL.ac, Founder and ex-CEO at Rookout.com and Founder and CEO at Permit.io</small></div>
                    </div>
                </div>
            </div>
        </div>         -->

           




</div>
</div>