<div class="box" style="width: 100%; text-align: center;">
    <h2 style="text-transform: uppercase;"> Hackathon Judges and Mentors</h2>
    <p>We have awesome folks from the ecosystem participating as both judges and
        mentors - see who is involved and make sure to join us!
    </p>
    <div class="row">
        <h3>Hackathon Judges</h3>

        <div class="row 20% uniform">

            <div class="2u">
                <a href="#open-modal-1"><img
                        src="/assets/images/speakers/benh.png" alt="Ben
                        Hirschberg, ARMO"
                        width="200" /></a>
                <ul class="icons"><span style="text-transform: uppercase; color:
                        turquoise; font-weight: 700;">Ben Hirschberg</span> <br
                        /> <span style="text-transform: uppercase;"> CTO &
                        Co-Founder, ARMO</span><br />
                    <li><a href="https://twitter.com/slashben81" target="_blank"
                            class="icon fa-twitter"></a></li>
                    <li><a
                            href="https://www.linkedin.com/in/ben-hirschberg-66141890/"
                            target="_blank"
                            class="icon fa-linkedin"></a></li>
                    <li><a href="https://github.com/slashben" target="_blank"
                            class="icon fa-github"></a></li>
                </ul>

                <div id="open-modal-1" class="modal-window">
                    <div><a href="#1" title="Close" class="modal-close">X</a>
                        <h4 style="text-transform: uppercase;"></h4>
                        <div></div>
                        <div><small>
                                <p>Ben is a veteran cybersecurity and DevOps
                                    professional, as well as computer science
                                    lecturer. Today, he is the co-founder at <a
                                        href="https://armosec.io"
                                        target="_blank">ARMO</a>, with a vision
                                    of making end-to-end Kubernetes security
                                    simple for everyone, and a core maintainer
                                    of the open source Kubescape project. He
                                    teaches advanced information security
                                    academically in both undergrad and graduate
                                    courses. In his previous capacities, he has
                                    been a security researcher and architect,
                                    pen-tester and lead developer at Cisco, NDS
                                    and Siemens. </p>
                            </small>

                        </div>
                    </div>
                </div>

            </div>

            <div class="2u">
                <a href="#open-modal-2">
                    <img src="/assets/images/speakers/itiel.png" alt="Itiel Shwartz, Komodor" width="200" /></a>
                <ul class="icons"><span style="text-transform: uppercase; color:
                        turquoise; font-weight: 700;">Itiel Shwartz</span> <br
                        /> <span style="text-transform: uppercase;"> CTO &
                        Co-Foundeer, Komodor</span><br />
                    <li><a href="https://twitter.com/itielshwartz"
                            target="_blank" class="icon fa-twitter"></a></li>
                    <li><a
                            href="https://www.linkedin.com/in/itiel-shwartz-18542853/"
                            target="_blank" class="icon fa-linkedin"></a>
                    </li>
                    <li><a href="https://github.com/itielshwartz"
                            target="_blank" class="icon fa-github"></a></li>
                </ul>

                <div id="open-modal-2" class="modal-window">
                    <div><a href="#2" title="Close" class="modal-close">X</a>
                        <div>
                            <small>
                                <p>Itiel is the CTO and co-founder of <a
                                        href="https://komodor.com"
                                        target="_blank">Komodor</a>, a startup
                                    building the first Kubernetes-native
                                    troubleshooting platform. A big believer in
                                    dev empowerment and moving fast, he has
                                    worked at eBay, Forter and Rookout (as the
                                    founding engineer). Itiel is a backend and
                                    infra developer turned “DevOps”, an avid
                                    public speaker that loves talking about
                                    things such as cloud infrastructure,
                                    Kubernetes, Python, observability, and R&D
                                    culture. </p>
                            </small> </div>
                    </div>
                </div>
            </div>



        <div class="2u">
            <a href="#open-modal-4"><img
                    src="/assets/images/speakers/talshatz.png"
                    alt="Tal Shatz, Terasky" width="200" /></a>
            <ul class="icons"><span style="text-transform: uppercase; color:
                    turquoise; font-weight: 700;">Tal Shatz</span><br />
                <span style="text-transform: uppercase;">
                    CSO, Terasky</span> <br />
                <li><a href="https://twitter.com/shatztal" target="_blank"
                        class="icon fa-twitter"></a></li>
                <li><a href="https://www.linkedin.com/in/talshatz/"
                        target="_blank" class="icon fa-linkedin"></a>
                </li>
                <li><a href="https://github.com/shatztal" target="_blank"
                        class="icon fa-github"></a></li>
            </ul>

            <div id="open-modal-4" class="modal-window">
                <div><a href="#4" title="Close" class="modal-close">X</a>
                    <div style="text-transform: uppercase;"></div>


                    <div>
                        <small>
                            As Chief Strategy Officer, Tal is responsible for
                            creating TeraSky’s vision, executing business
                            initiatives and sustaining implementation efforts.
                            Tal joined TeraSky in 2010 and became the company’s
                            key technology leader, leveraging his vast
                            cloud-native expertise. Before joining TeraSky, Tal
                            garnered unique experience while serving in the
                            Israel Defense Forces’ Computer Intelligence Unit
                            and as a solution architect in Glasshouse, a leading
                            system integrator in Israel.

                        </small>
                    </div>
                </div>
                </div>
            </div>




            <div class="2u">
                <a href="#open-modal-13"><img
                        src="/assets/images/speakers/idanlevi.png" alt="Idan Levi, Opster"
                        width="200" /></a>
                <ul class="icons"><span style="text-transform: uppercase; color:
                        turquoise; font-weight: 700;">Idan Levi</span><br /> DevOps Engineer, Opster <br
                        />
                    <!-- <li><a href="https://twitter.com/adishsh/" target="_blank"
                            class="icon fa-twitter"></a></li> -->
                    <li><a
                            href="https://www.linkedin.com/in/idan-levi-844257182/"
                            target="_blank"
                            class="icon fa-linkedin"></a></li>
                   <!-- <li><a href="https://github.com/adishachamshavit"
                            target="_blank" class="icon fa-github"></a></li> -->
                </ul>

                <div id="open-modal-13" class="modal-window">
                    <div><a href="#13" title="Close" class="modal-close">X</a>
                                              
                        <div><small>Experienced DevOps Engineer with a demonstrated history of working in the Government Relations industry. Skilled in Kubernetes, OpenShift, Bash, Puppet, Linux and Windows. Strong engineering professional with a Engineer's degree focused in Computer Science from Gimnasia Realit. </small></div>
                    </div>
                </div>
            </div>


            <div class="2u">
                <a href="#open-modal-12"><img
                        src="/assets/images/speakers/orweis.png" alt="Or Weis, Permit.io"
                        width="200" /></a>
                <ul class="icons"><span style="text-transform: uppercase; color:
                        turquoise; font-weight: 700;">Or Weis</span><br /> CEO & Co-Founder, Permit.io <br
                        />
                    <li><a href="https://twitter.com/OrWeis" target="_blank"
                            class="icon fa-twitter"></a></li>
                    <li><a
                            href="https://www.linkedin.com/in/orweis/"
                            target="_blank"
                            class="icon fa-linkedin"></a></li>
                    <li><a href="https://github.com/orweis"
                            target="_blank" class="icon fa-github"></a></li>
                </ul>

                <div id="open-modal-12" class="modal-window">
                    <div><a href="#12" title="Close" class="modal-close">X</a>
                        
                        
                        <div><small>Co-Founder at Permit.io. Or is a developer and Entrepreneur. Speacialising in: Rich R&D and cybersec experience. He is also a Snyk Ambassador and JFrog SuperFrog. Author and Maintainer of OPAL.ac, Founder and ex-CEO at Rookout.com and Founder and CEO at Permit.io</small></div>
                    </div>
                </div>
            </div>
        </div>


      <!--  <h3> Hackathon Mentors</h3>

        <div class="row 20% uniform">




            <div class="2u">
                <a href="#open-modal-5"><img
                        src="/assets/images/speakers/feu.png" alt="Feu Mourek"
                        width="200" /></a>
                <ul class="icons"><span style="text-transform: uppercase; color:
                        turquoise; font-weight: 700;">FEU MOUREK</span><br />
                    Development Advocate, Icinga<br />
                    <li><a href="https://twitter.com/the_FeuFeu" target="_blank"
                            class="icon fa-twitter"></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/feu-mourek/"
                            target="_blank"
                            class="icon fa-linkedin"></a></li>
                    <li><a href="https://github.com/theFeu" target="_blank"
                            class="icon fa-github"></a></li>
                </ul>

                <div id="open-modal-5" class="modal-window">
                    <div><a href="#5" title="Close" class="modal-close">X</a>
                        <h4 style="text-transform: uppercase;">Flying
                            blind - Accessibility in Monitoring</h4>
                        <div style="text-transform: uppercase;"></div>
                        <div>
                            <small>
                                <p>Do you know what it feels like to navigate as
                                    someone who can’t distinguish between green
                                    and red - looking at those badges that tell
                                    you whether something is broken or a-okay?
                                    I’ll give you a quick look into what it
                                    feels like with some examples from the
                                    monitoring tool Icinga Web 2.</p>

                                <p>We all tend to forget, that not everyone sees
                                    the world like we do. In this talk I’ll be
                                    walking you through different views in
                                    Icinga Web 2 with side-by-side comparisons
                                    for
                                    the default views and how different kinds of
                                    vision impairments affect those. The talks
                                    also features a few suggestions on how to
                                    improve colour schemes and making websites
                                    and
                                    webapps better to navigate with screen
                                    readers!</p>
                            </small>


                         </div>
                    </div>
                </div>
            </div>

            <div class="2u">
                <a href="#open-modal-6"><img
                        src="/assets/images/speakers/jonathan.png"
                        alt="Jonathan Kingsley - Orbit Labs" width="200" /></a>
                <ul class="icons"><span style="text-transform: uppercase; color:
                        turquoise; font-weight: 700;">JONATHAN
                        KINGSLEY</span> <br /> <span style="text-transform:
                        uppercase;"> Lead, Infrastructure and
                        Security, Orbit Labs</span><br />
                    <li><a href="https://twitter.com/JFKingsley" target="_blank"
                            class="icon fa-twitter"></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/jfkingsley/"
                            target="_blank" class="icon fa-linkedin"></a>
                    </li>
                    <li><a href="https://github.com/JFKingsley" target="_blank"
                            class="icon fa-github"></a></li>
                </ul>

                <div id="open-modal-6" class="modal-window">
                    <div><a href="#6" title="Close" class="modal-close">X</a>
                      

                        <div><small>
                                <p>In this bleak, depressing talk we will
                                    discuss some of the ways computer science
                                    and
                                    computer
                                    security has fallen flat on its face, and
                                    how you can avoid making the same
                                    mistakes, with
                                    just a soupçon of humor for good measure.</p>
                                <p>We will break these problems down and
                                    hopefully learn some important lessons, such
                                    as
                                    not
                                    allowing your door locks to call system(),
                                    how to properly secure your corner of the
                                    Internet Of Things, a crash course in
                                    processor architectures and how they lie to
                                    you, and
                                    how the inevitable heat-death of the
                                    universe is a result of RSA.</p>

                                <p>Hopefully, you’ll emerge feeling smarter,
                                    discussing new topics, and slightly
                                    terrified.</p>
                            </small></div>

                      
                    </div>
                </div>

            </div>



            <div class="2u">
                <a href="#open-modal-7"><img
                        src="/assets/images/speakers/eynav.png" alt="Eynav Mass
                        - Oribi"
                        width="200" /></a>
                <ul class="icons"><span style="text-transform: uppercase; color:
                        turquoise; font-weight: 700;">EYNAV
                        MASS</span><br /> VP ENGINEERING, ORIBI <br />
                    <li><a href="#" target="_blank" class="icon fa-twitter"></a></li>
                    <li><a href="https://www.linkedin.com/in/eynavmass/"
                            target="_blank" class="icon fa-linkedin"></a>
                    </li>
                </ul>

                <div id="open-modal-7" class="modal-window">
                    <div><a href="#7" title="Close" class="modal-close">X</a>
                        <div>
                            <small>
                                <p>When it comes to data solutions, one-size
                                    doesn’t fit all. Choosing the right
                                    best-matching database, or data tools, can
                                    be a game changer for your system. How
                                    can
                                    you take such decision effectively? The
                                    system, the company, the product, and
                                    probably
                                    your team - all are evolving, and the best
                                    solution for today may not fit tomorrow’s
                                    needs. In order to pick a data solution for
                                    longer term, you should evaluate the
                                    optional data tools according to several
                                    factors. These factors will reflect the
                                    requirements looking forward.</p>                                                          

                            </small></div>
                    </div>
                </div>
            </div>



            <div class="2u">
                <a href="#open-modal-8"><img
                        src="/assets/images/speakers/phrawzty.png"
                        alt="J. Wolfgang Goerlich - Duo Security" width="200" /></a>
                <ul class="icons"><span style="text-transform: uppercase; color:
                        turquoise; font-weight: 700;">DANIEL
                        MAHER </span><br /> <span style="text-transform:
                        uppercase;"> DEVELOPER ADVOCATE, DATADOG</span>
                    <br />
                    <li><a href="https://twitter.com/phrawzty" target="_blank"
                            class="icon fa-twitter"></a></li>
                    <li><a
                            href="https://www.linkedin.com/in/dan-phrawzty-maher/"
                            target="_blank"
                            class="icon fa-linkedin"></a></li>
                    <li><a href="https://github.com/phrawzty" target="_blank"
                            class="icon fa-github"></a></li>
                </ul>

                <div id="open-modal-8" class="modal-window">
                    <div><a href="#8" title="Close" class="modal-close">X</a>
                        <div>
                            <small>
                                <p>The word observable entered the English
                                    language roughly 400 years ago, but the
                                    concepts
                                    of what it means to see, comprehend, and
                                    understand something have been debated
                                    since
                                    time immemorial. Starting in the 19th
                                    century, a series of postulates and criteria
                                    coalesced into control theory, and it is
                                    from this body of knowledge that we gained
                                    the
                                    word “observability”. Today, with the advent
                                    of complex, interconnected computer
                                    systems, that word has taken on new meanings
                                    and connotations—some useful, some
                                    detrimental, and some just plain confusing.</p>
                             
                            </small> </div>
                    </div>
                </div>
            </div>

            <div class="2u">
                <a href="#open-modal-11"><img
                        src="/assets/images/speakers/adi.png" alt="Adi
                        Shacham-Shavit"
                        width="200" /></a>
                <ul class="icons"><span style="text-transform: uppercase; color:
                        turquoise; font-weight: 700;">ADI
                        SHACHAM-SHAVIT</span><br /> EVP ENGINEERING, CLEAR <br
                        />
                    <li><a href="https://twitter.com/adishsh/" target="_blank"
                            class="icon fa-twitter"></a></li>
                    <li><a
                            href="https://www.linkedin.com/in/adi-shacham-shavit/"
                            target="_blank"
                            class="icon fa-linkedin"></a></li>
                    <li><a href="https://github.com/adishachamshavit"
                            target="_blank" class="icon fa-github"></a></li>
                </ul>

                <div id="open-modal-11" class="modal-window">
                    <div><a href="#11" title="Close" class="modal-close">X</a>
                        <h4 style="text-transform: uppercase;">ADI
                            SHACHAM-SHAVIT | ENGINEERING LEADERSHIP</h4>
                        
                        <div><small></small></div>
                    </div>
                </div>
            </div>


        </div> -->




</div>
</div>