<div class="box" style="width: 100%; text-align: center;">
    <h2 style="text-transform: uppercase;"> Hackathon Host Offices</h2>
    <p>Check out the locations of the hosting offices and choose your favorite
        spot.
    </p>
    <div class="12u$">
        <div class="row" style="text-align: center;">
            <h4 style="text-transform: uppercase;"> ARMO Offices | Meitav St 6,
                Tel
                Aviv-Yafo, 6789805</h4>
            <p> <iframe
                    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13524.541389304202!2d34.7951278!3d32.0655878!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x3c9babfc50af9265!2sARMO!5e0!3m2!1sen!2sil!4v1677413210905!5m2!1sen!2sil"
                    width="600" height="450" style="border:0;"
                    allowfullscreen=""
                    loading="lazy" referrerpolicy="no-referrer-when-downgrade"></p>
            </div>
        </div>

        <div class="12u$">
            <div class="row" style="text-align: center;">

                <h4 style="text-transform: uppercase;"> Komodor Offices | Yigal
                    Alon 82,
                    3rd Floor, Tel Aviv</h4>

                <p><iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13524.439901717122!2d34.77544573955077!3d32.066274100000015!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4b1781e26ca3%3A0x16d515817d3817af!2z157XkteT15wg16HXldeW15XXp9eZ!5e0!3m2!1sen!2sil!4v1677413970989!5m2!1sen!2sil"
                        width="600" height="450" style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe></p>
            </div>
        </div>
        <div class="12u$">
            <div class="row" style="text-align: center;">

                <h4 style="text-transform: uppercase;"> Permit.io Offices | Beit
                    Hilel St 6, 2nd floor, Tel Aviv-Yafo, 6701457</h4>


                <p><iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3380.990273016189!2d34.787159215488956!3d32.06951182702777!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4b79115a4695%3A0x83e57618d89f50cc!2sPermit.io!5e0!3m2!1sen!2sil!4v1677413264951!5m2!1sen!2sil"
                        width="600" height="450" style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe></p>
            </div>
        </div>



        <div class="12u$">
            <div class="row" style="text-align: center;">

                <h4 style="text-transform: uppercase;"> Opster Offices |
                    HaHashmonaim St 68, Tel Aviv-Yafo</h4>
                <p>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3380.9706514108652!2d34.77818941548903!3d32.07004252700119!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4b5f9801744d%3A0xc2f52003945ea095!2sOpster!5e0!3m2!1sen!2sil!4v1677413310371!5m2!1sen!2sil"
                        width="600" height="450" style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe></p>
            </div>
        </div>

        <div class="12u$">
            <div class="row" style="text-align: center;">

                <h4 style="text-transform: uppercase;"> Terasky Offices | Yegi'a
                    Kapayim St 17, Petah Tikva</h4>

                <p> <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3379.956603364706!2d34.85386361548945!3d32.09745852562924!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d49f9a97605e9%3A0xd24fc3d600f4e0f0!2sTeraSky!5e0!3m2!1sen!2sil!4v1677413328848!5m2!1sen!2sil"
                        width="600" height="450" style="border:0;"
                        allowfullscreen=""
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe></p>
            </div>
        </div>


    </div>