

<!-- DevOps-->
<div class="box" style="background-color: #2a2f4a;" >
<img src="assets/images/cloudnative-oss-SQ.png" alt="Cloud Native & OSS TLV" width="180" style="float: left; padding-right: 20px;"/><img src="assets/images/production-jungle.png" alt="Cloud Native & OSS TLV" width="180" style="float: left; padding-left: 20px;"/>

	<h3 style="text-transform: uppercase;"><span style="color: turquoise;">Cloud Native & OSS IL + Production Jungle</span> &nbsp; | &nbsp; <i class="fa fa-play"></i><a href="https://youtu.be/T-vFbnskbKg?t=1286" style="text-transform: uppercase;" target="_blank"> WATCH RECORDING</a></h3>
    <br/>
    <br/>
    <div class="row">
    <h5>Kubernetes, Microservices, Production, Scale with Aerospike & Playtika | &nbsp; &nbsp;<i class="fa fa-play"></i><a href="http://bit.ly/tlv-community-april-meetup-web" style="color: turquoise; text-transform: uppercase;" target="_blank"> Event Details</a></h5>
    </div>
    <p></p>
    <p></p>

    <div class="row">

    <div class="2u">
    <a href="#open-modal-32">
	<p><img src="assets/images/speakers/zohar.png" alt="Zohar Elkayam - Aerospike" width="200" style="float: left; padding-right: 10px;" /></p>
    <p><span style="color: turquoise; text-transform: uppercase;">Zohar Elkayam<br/> Aerospike</span></p></a>
    </div>
    <br/>
    <br/>
             <div class="10u"><h4>Building Microservices for Real-World Scale</h4>
            <p><span style="color: turquoise; text-transform: uppercase;">Zohar Elkayam, Senior Solutions Architect and a Technical Account Manager (TAM), Aerospike</span></p>
            <div>Microservice architecture is designed to be scalable - but when using service oriented private databases, we might face some real-world challenges when we do.<br/>
                In this session we will discuss the challenges of scaling up and down the database layer as part of the microservice architecture, and understand what solutions helped Playtika in scaling up their applications and games.</div>
            <div id="open-modal-32" class="modal-window">
                <div><a href="#32" title="Close" class="modal-close">X</a>
                <div><small>Zohar Elkayam is a Senior Solutions Architect and a Technical Account Manager (TAM) at Aerospike Israel. Zohar is a Database Evangelist with over 23 years of experience in various database platforms and technologies - including administration, development and architecture. In his role at Aerospike, Zohar is helping companies from the introduction stage to adoption, and after that - during their on-going usage of Aerospike.
                </small></div> 
                </div>
                </div> 
    </div>
    </div>

    <div class="row">

        <div class="2u">
            <a href="#open-modal-33">
            <p><img src="assets/images/speakers/ivan.png" alt="Ivan Vasyliev - Playtika" width="200" style="float: left; padding-right: 10px;" /></p>
            <p><span style="color: turquoise; text-transform: uppercase;">Ivan Vasyliev<br/> Playtika</span></p></a>
            </div>
            <br/>
            <br/>
                     <div class="10u">
                    <h4>Playtika Microservices Architecture - The Pros & Cons</h4>
                    <p><span style="color: turquoise; text-transform: uppercase;">Zohar Elkayam, Senior Solutions Architect and a Technical Account Manager (TAM), Aerospike</span></p>
                    <div>In this session we will discuss the microservice architecture pros and cons, how it affects application design and development in Playtika and the road to adopting it.</div>
                    <div id="open-modal-33" class="modal-window">
                        <div><a href="#33" title="Close" class="modal-close">X</a>
                        <div><small>Ivan is the Director of Platform Architecture Group in Playtika's internal gaming platform R&D.
                        </small></div> 
                        </div>
                        </div> 
            </div>
            </div>

            </div>
