
<div class="row">
    <img src="assets/images/meetup-SQ.png" alt="Community TLV" width="180" />
    <br />
    <h3><i class="fa fa-calendar"></i> <span style="color: turquoise; text-transform: uppercase;">Upcoming Event: April 20th - 17:30 </span> | <a href="https://www.meetup.com/cloud-native-oss/events/276664126/" target="_blank">RSVP HERE</a></h3>

<!-- DevOps-->
<div class="box" style="background-color: #2a2f4a;" >
<img src="assets/images/cloudnative-oss-SQ.png" alt="Cloud Native & OSS TLV" width="180" style="float: left; padding-right: 20px;"/><img src="assets/images/production-jungle.png" alt="Cloud Native & OSS TLV" width="180" style="float: left; padding-left: 20px;"/>

	<h3 style="text-transform: uppercase;"><span style="color: turquoise;">Cloud Native & OSS IL + Production Jungle</span></h3>
    <br/>
    <br/>
    <div class="row">
    <h5>Kubernetes, Microservices, Production, Scale with Aerospike & Playtika</h5>
    <p>We are coming back with our first hybrid event - hosted by Aersopike at their awesome offices at the Brain Embassy Tel Aviv. The event is capped to 50 attendees in person, so be sure to <a href="http://bit.ly/tlv-community-april-meetup-web" target="_blank" style="color: turquoise;">RSVP here.</a> <br/>Everyone else is welcome to join us here for the virtual stream of the event.</p>
	<p><a href="modal"><img src="assets/images/speakers/zohar.png" alt="Zohar Elkayam - Aerospike" width="200" style="float: left; padding-right: 10px;" /></a></p>
    <p><span style="color: turquoise; text-transform: uppercase;">Zohar Elkayam<br/> Aerospike</span></p>
    <br/>
    <br/>

    <p><a href="modal"><img src="assets/images/speakers/ivan.png" alt="Ivan - Playtika" width="200" style="float: left; padding-right: 10px; padding-top: 20px;" /></a></p>
    <p><span style="color: turquoise; text-transform: uppercase;">Ivan Vasyliev<br/> Playtika</span></p>
               
        <div id="open-modal-1" class="modal-window">
        <div><a href="#1" title="Close" class="modal-close">X</a>
        <div><small>Zohar.</small></div> 
        </div>
        </div> 
        <div id="open-modal-2" class="modal-window">
            <div><a href="#2" title="Close" class="modal-close">X</a>
            <div><small>Ivan.</small></div> 
            </div>
            </div> 
    
    </div>
	
</div>
</div>

