
<div class="row">
<img src="assets/images/devseccon-SQ.png" alt="DevSecCon TLV" width="180" />
<br />
<h3>Mini-Track Speakers - DevSecCon Tel Aviv</h3>
</div>


<div class="row 20% uniform">

        <div class="2u">
        <a href="#open-modal-30"><img src="assets/images/speakers/philip.png" alt="Philip Krenn - Elastic" width="200" /></a>
        <ul class="icons">PHILIPP KRENN <br/> ELASTIC <br/>
        <li><a href="https://twitter.com/xeraa" target="_blank" class="icon fa-twitter"></a></li>
        <li><a href="https://www.linkedin.com/in/philippkrenn/"  target="_blank" class="icon fa-linkedin"></a></li>
        <li><a href="https://github.com/xeraa" target="_blank" class="icon fa-github"></a></li>
        </ul>
        
        <div id="open-modal-30" class="modal-window">
        <div><a href="#30" title="Close" class="modal-close">X</a>
        <h4 style="text-transform: uppercase;">Take Aways from 400 Virtual Talks since March</h4>
        <div>IGNITE</div>
        <div><small>Virtual talks are the new norm. In theory, they are great — speakers and attendees can join from around the world, infrastructure is cheap and scalable, recordings are simple. But what is happening in reality with problems like Zoom fatigue? What is and what isn’t working? At Elastic, we have done 400 virtual talks and meetups since March. This talk gives an overview of the development over time, specifics in regions, differences in tooling,… and adds some personal anecdotes.</small></div>
        </div>
        </div> 
        
        </div>

		<div class="2u">
        <a href="#open-modal-31"><img src="assets/images/speakers/quinn.png" alt="Quintessence Anx" width="200" /></a>
        <ul class="icons">QUINTESSENCE ANX <br/> DEVELOPER ADVOCATE <br/>
        <li><a href="https://twitter.com/QuintessenceAnx/" target="_blank" class="icon fa-twitter"></a></li>
        <li><a href="https://www.linkedin.com/in/quintessenceanx/"  target="_blank" class="icon fa-linkedin"></a></li>
        </ul>

        <div id="open-modal-31" class="modal-window">
        <div><a href="#31" title="Close" class="modal-close">X</a>
        <h4 style="text-transform: uppercase;">Virtually Unforeseeable: Pandemic DevRel</h4>
        <div>IGNITE</div>
        <div><small>One of the hardest parts professionally during this pandemic is how to shift a role that was mostly face-to-face and high travel to being 100% virtual - without losing the connection that in person interaction provides. This has led to a lot of growing pains over the past 8 months (!!!), but as a company cornerstoned in process we adapted our workflow to accommodate our New Abnormal. This is a 5 minute talk where I will run through how we shifted our workflow, not just by top loading already virtual content like blog posts but also focusing on other ways that the advocacy team could assist the business as a whole including shifting how to handle virtual events, booth duty, changes in how to present at virtual events, and more.</small></div>
        </div>
        </div>         
        </div>

        <div class="2u">
        <a href="#open-modal-32"><img src="assets/images/speakers/erik.png" alt="Erik Zaadi - Salto" width="200" /></a>
        <ul class="icons">ERIK ZAADI <br/> SALTO <br/>
        <li><a href="https://twitter.com/erikzaadi/" target="_blank" class="icon fa-twitter"></a></li>
        <li><a href="https://www.linkedin.com/in/erikzaadi/"  target="_blank" class="icon fa-linkedin"></a></li>
        <li><a href="https://github.com/erikzaadi/" target="_blank" class="icon fa-github"></a></li>
        </ul>

        <div id="open-modal-32" class="modal-window">
        <div><a href="#32" title="Close" class="modal-close">X</a>
        <h4 style="text-transform: uppercase;">Monitoring People - An Engineering approach to understanding human KPIs</h4>
        <div>IGNITE</div>
        <div><small>This talk will cover the similarities between observability of complex systems to humans, understanding and setting KPIs, alerts and why the CPU (working hours) is not necessarily the metric that measures how well an employee gives value. We’ll go through how engineering processes such as continuous integration, allowing us to catch problems earlier in smaller deltas, are not at all far from having a continuous improvement and feedback system. We’ll understand how a failed test in a build is a good thing, just as a human mistake or misbehaviour is in fact an opportunity to learn and improve.</small></div>
        </div>
        </div>   

        </div>

        <div class="2u">
        <a href="#open-modal-33"><img src="assets/images/speakers/danl.png" alt="Dan Lines - LinearB" width="200" /></a>
        <ul class="icons">DAN LINES <br/> LINEARB <br/>
        <li><a href="https://twitter.com/linknfg182/" target="_blank" class="icon fa-twitter"></a></li>
        <li><a href="https://www.linkedin.com/in/dan-lines/"  target="_blank" class="icon fa-linkedin"></a></li>
        <li><a href="https://github.com/linknfg182/" target="_blank" class="icon fa-github"></a></li>
        </ul>

        <div id="open-modal-33" class="modal-window">
        <div><a href="#33" title="Close" class="modal-close">X</a>
        <h4 style="text-transform: uppercase;">3 Data Driven Burnout Indicators</h4>
        <div>IGNITE</div>
        <div><small>Burnout is dangerous. Even more so when we can’t see the physical indicators due to being a distributed team. In this lighting talk I discuss the 3 data-driven burnout indicators I use to make sure my team rested and happy.  As a manager it’s your responsibility to identify employee burnout and make sure your dev team is rested and healthy. But identifying signs of burnout as a distributed team can be challenging. In this lightning talk I discuss the 3 data-driven burnout indicators I use to make sure my team rested and happy.</small></div>
        </div>
        </div>   

        </div>
        

        <div class="2u">
        <a href="#open-modal-34"><img src="assets/images/speakers/nur.png" alt="Nur Lee Harel - Eventhandler" width="200" /></a>
        <ul class="icons">NUR LEE HAREL <br/> EVENTHANDLER <br/>
        <li><a href="https://twitter.com/HarelNur/" target="_blank" class="icon fa-twitter"></a></li>
        <li><a href="https://www.linkedin.com/in/nur-lee-harel/"  target="_blank" class="icon fa-linkedin"></a></li>
        </ul>

        <div id="open-modal-34" class="modal-window">
        <div><a href="#33" title="Close" class="modal-close">X</a>
        <h4 style="text-transform: uppercase;">BREAKOUT SESSION #1 - How to Write Your Professional Bio</h4>
        <div><small>Sometimes during our careers, we are asked to write something about ourselves. It can be an awkward task and most of the time we have no idea what to include, how to sell ourselves, how to make it relevant etc. In this hands-on session, you will learn how to create and improve your professional bio.</small></div>

        <h4 style="text-transform: uppercase;">BREAKOUT SESSION #2 - Useful Tips on Improving Your Tech Talk Proposal (CFP)</h4>
        <div><small>In this hands-on session, I will share some useful tips on how to improve your talk proposal and increase the chances of getting your talk selected, as learned from my experience as a producer of various tech conferences in the past 5 years, such as AngularUP, React Next, Node.TLV and React Week NYC.</small></div>
        </div>
        </div>   

        </div>

      
</div>