<section id="two">
    <div class="inner">

        <p>
            <br />
        </p>
        <div>
            <h3 style="text-transform: uppercase;"><span style="color:
                    turquoise;"><i class="fa fa-calendar"></i>
                    Upcoming & Previous Community Events</span></h3>
        </div>

        <div class="box" style="background-color: #2a2f4a; text-align: center;">
                     <!-- <h2><span style="text-transform: uppercase; color:
                        orange; font-family: 'Eater', cursive; font-size: 32pt;">DevOpsDays Tel Aviv <br/> is coming back in 2024 </span><br /><span style="text-transform: uppercase; color:
                        rgb(17, 210, 17); font-family: 'Nosifer', cursive;"> SAVE THE DATE:</span><span style="text-transform: uppercase; color:
                        rgb(195, 37, 238); font-family: 'Nosifer', cursive;"> OCTOBER 30-31, 2024<br/><span style="text-transform: uppercase; color:
                        white; font-family: 'Eater', cursive;"> AND TICKETS</span><span style="text-transform: uppercase; color:
                        orangered; font-family: 'Eater', cursive;"> ARE NOW AVAILABLE!</span></h2>
                        
                    <br/>
                    <br/>
                    <p><a href="/devopsdays#register" target="_blank"><img src="https://images.lumacdn.com/cdn-cgi/image/format=auto,fit=cover,dpr=1,quality=75,width=960,height=480/event-covers/zy/5e297355-a1df-4b0a-8bbe-0d2cfa503b2f" width="60%"></a></p> -->

                    <h4 style="text-transform: uppercase;"><span style="color: #8d82c4;"><span class="icon fa-smile-o"></span> 
                        IT'S A WRAP ON DEVOPSDAYS TLV 2024 - ICYMI YOU CAN FIND THE VIDEOS BELOW. <br/>HOPE TO SEE YOU AT THE NEXT ONE!</span></h4>
                    <ul class="actions" style="float: center; padding-left:
                        20px;">
                        
                    <ul class="actions" style="float: center; padding-left:
                    20px;">
                    <li><a
                            href="/devopsdays/agenda-2024"
                            target="_blank" class="button special fit"> WATCH VIDEOS</a></li>
                </ul>
                <br />                  
                

                    <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
<div class="elfsight-app-be548dcc-33cb-4940-b3d8-9783491c814e" data-elfsight-app-lazy></div>

</div>

<br />
<br />
<h3 style="text-transform: uppercase;"><span style="color:
        turquoise;"><i class="fa fa-link"></i>
        OUR TLVCOMMUNITY GROUPS & USEFUL LINKS</span></h3>

       
<div class="box" style="background-color: #2a2f4a;">


    <p style="text-align: center;"><a href="https://www.meetup.com/devops-in-israel/" target="_blank"><img
        src="assets/images/devopstlv-SQ.png"
        width="150"></a>&nbsp;&nbsp;<a
    href="https://www.meetup.com/cloud-native-oss"
    target="_blank"><img
        src="assets/images/cloudnative-oss-SQ.png"
        width="150"></a>&nbsp;&nbsp;<a
        href="https://www.meetup.com/statscraft"
        target="_blank"><img
            src="assets/images/statscraft-SQ.png"
            width="120"></a>&nbsp;&nbsp;<a
            href="https://www.meetup.com/production-jungle"
            target="_blank"><img
                src="assets/images/production-jungle.png"
                width="120"></a>&nbsp;&nbsp;<a
                href="https://www.meetup.com/the-big-web-theory"
                target="_blank"><img
                    src="assets/images/big-web.png"
                    width="120"></a>&nbsp;&nbsp;<a
                    href="https://www.meetup.com/ServerlessTLV/"
                    target="_blank"><img
                        src="assets/images/serverless-nights.png"
                        width="130"></a>&nbsp;&nbsp;<a
    href="https://www.meetup.com/DevRel/"
    target="_blank"><img
        src="assets/images/devrel-il-SQ.png"
        width="130"></a>&nbsp;&nbsp;</p>

        <ul class="actions" style="text-align: center;">
            <li><a
                href="https://lu.ma/tlvcommunity" target="_blank" class="button special fit"> <i class="fa fa-mic"></i>SUBSCRIBE TO EVENT CALENDAR</a></li>
        <li><a
                href="https://www.papercall.io/community-tlv-meetups"
                target="_blank" class="button next"> <i class="fa fa-mic"></i>SUBMIT A TALK</a></li>

    <li><a
            href="https://linktr.ee/tlvcommunity"
            target="_blank" class="button special fit"> <i class="fa fa-link"></i>USEFUL COMMUNITY LINKS</a></li>
</ul>
</div>

          <!--   <p></p>
            <details>
                <summary><strong>Q1 COMMUNITY BLITZ!</strong> | <i
                    class="fa fa-video-camera"></i> <span
                    style="color: turquoise; text-transform:
                    uppercase;"><strong><a
                            href="https://www.youtube.com/live/mq8pyl9yk34"
                            target="_blank"> &nbsp;&nbsp;Event
                            Recording</strong></a></span></summary>
                      <a href="https://meetu.ps/e/LXtP8/5ms8l/i" target="_blank"><img
                    src="assets/images/communitytlv-events.png"
                    alt="Q1 TLV Community Blitz" width="250"
                    style="float: left; padding-right: 10px;" /></a>
            <h3 style="text-transform: uppercase; color:
                palevioletred;"> Our APRIL 30TH <a
                    href="https://meetu.ps/e/LXtP8/5ms8l/i" target="_blank">Q1
                    #TLVCommunity Blitz</a> was sponsored by <a
                    href="https://otterize.com" target="_blank">Otterize</a>!</h3>

                    <ul class="actions" style="float: left; padding-left:
                    20px;">
                    <li><a
                            href="https://www.youtube.com/live/mq8pyl9yk34"
                            target="_blank" class="button fit"> WATCH HERE</a></li></ul>
                    <br />
                    <br />
                    <p>&nbsp; &nbsp;</p>
                    <p><a href="https://www.meetup.com/cloud-native-oss/events/292112608/" target="_blank"><img src="/assets/images/q1-23-tlvcommunityblitz.png" width="60%"></a></p>

                    </details>  
                    <details>
                        <summary> <strong>Q3 COMMUNITY BLITZ!</strong> | <i
                                class="fa fa-video-camera"></i> <span
                                style="color: turquoise; text-transform:
                                uppercase;"><strong><a
                                        href="https://www.youtube.com/watch?v=tVHrc67UbcU"
                                        target="_blank"> &nbsp;&nbsp;Event
                                        Recording</strong></a></span></summary>
                        <img src="assets/images/communitytlv-events.png"
                            alt="TLV Community Events" width="150"
                            style="float: left; padding-right: 10px;" />
                        <br />
                        <div>

                            <p>Watch the videos from our last community meetup:
                                the TRIFECTA - <strong>DevOps TLV, Cloud Native
                                    & OSS and Statscraft</strong> - big thanks
                                to <a href="https://ziprecruiter.com"
                                    target="_blank">Ziprecruiter</a> for
                                hosting! </p>
                        </div>

                        <br />
                        <br />
                    </details>
                    <details>
                        <summary> <strong>Q2 COMMUNITY BLITZ!</strong> | <i
                                class="fa fa-video-camera"></i> <span
                                style="color: turquoise; text-transform:
                                uppercase;"><strong><a
                                        href="https://www.youtube.com/watch?v=nrfzXrXsR90"
                                        target="_blank"> &nbsp;&nbsp;Event
                                        Recording</strong></a></span></summary>
                        <img src="assets/images/communitytlv-events.png"
                            alt="TLV Community Events" width="150"
                            style="float: left; padding-right: 10px;" />
                        <br />
                        <div>
                            <p>Watch the videos from our last community meetup:
                                the TRIFECTA - <strong>DevOps TLV, Cloud Native
                                    & OSS and Statscraft</strong> - big thanks
                                to <a href="https://ziprecruiter.com"
                                    target="_blank">Ziprecruiter</a> for
                                hosting! </p>
                        </div>

                        <br />
                        <br />
                    </details>
                    <details>
                        <summary> <strong>Q1 COMMUNITY BLITZ!</strong> | <i
                                class="fa fa-video-camera"></i> <span
                                style="color: turquoise; text-transform:
                                uppercase;"><strong><a
                                        href="å" target="_blank">
                                        &nbsp;&nbsp;Event
                                        Recording</strong></a></span></summary>
                        <img src="assets/images/communitytlv-events.png"
                            alt="TLV Community Events" width="150"
                            style="float: left; padding-right: 10px;" />
                        <br />
                        <div>
                            <p>Watch the videos from our last community meetup:
                                the TRIFECTA - <strong>DevOps TLV, Cloud Native
                                    & OSS and Statscraft</strong> - big thanks
                                to <a href="https://jfrog.com"
                                    target="_blank">JFrog</a> for hosting! </p>
                        </div>

                        <br />
                        <br />
                    </details>

                    <details>
                        <summary> <strong>SPONSOR EVENT: From Relational to
                                NoSQL - Why & How?</strong> | <i
                                class="fa fa-video-camera"></i> <span
                                style="color: turquoise; text-transform:
                                uppercase;"><strong><a
                                        href="https://www.youtube.com/watch?v=5S6aM-2V1Ns"
                                        target="_blank"> &nbsp;&nbsp;Event
                                        Recording</strong></a></span></summary>
                        <img src="assets/images/sponsor-logos/couchbase-SQ.png"
                            alt="Sponsored - Couchbase" width="150"
                            style="float: left; padding-right: 10px;" />
                        <br />
                        <div>
                            <p>While relational databases have been used for
                                decades, and they still are a viable solution
                                for
                                many use cases, many engineers and architects
                                prefer to use NoSQL databases for their numerous
                                advantages over relational databases. In this
                                webinar we’ll discuss the different aspects of
                                migrating from relational databases to NoSQL
                                databases and answer questions. </p>
                        </div>

                        <br />
                        <br />
                    </details>


                    <details>
                        <summary><strong>SPONSOR EVENT: MLOps for Good Hackathon
                                | Iguazio</strong></summary>

                        <img src="assets/images/sponsor-logos/iguazio-SQ.jpeg"
                            alt="MLOps for Good Hackathon" width="150"
                            style="float: left; padding-right: 10px;" />
                        <br />
                        <p>OUR COMMUNITY FRIENDS FROM IGUAZIO HAVE LAUNCHED A
                            COMMUNITY HACKATHON FOR GOOD, JOIN THE CAUSE
                            <span style="color: turquoise; text-transform:
                                uppercase;"><strong><a
                                        href="http://bit.ly/mlopsforgood-tlv-community"
                                        target="_blank">LEARN MORE &
                                        REGISTER</a></strong></span>
                        </p>
                        <br />
                        <br />
                    </details>


                    <details>
                        <summary><strong>June Event: Behind the Scenes of
                                Scaling Up with Oribi</strong> | <i
                                class="fa fa-video-camera"></i> <span
                                style="color: turquoise; text-transform:
                                uppercase;"><strong><a
                                        href="https://www.youtube.com/watch?v=9faC5XqDftc"
                                        target="_blank"> EVENT
                                        RECORDING</a></strong></span></summary>
                        <img src="assets/images/production-jungle.png"
                            alt="Production Jungle" width="150"
                            style="float: left; padding-right: 10px;" />
                        <br />
                        <div>
                            <p>We hosted the super awesome <a
                                    href="https://oribi.io/">Oribi</a> team for
                                three excellent
                                talks focused on typical challenges with
                                transitioning from a startup to a scaleup and
                                the
                                impact on engineering. </p>
                        </div>

                        <br />
                        <br />
                    </details>

                    <details>
                        <summary><strong>June Event: How to Build a Content
                                Machine</strong> | <i
                                class="fa fa-video-camera"></i> <span
                                style="color: turquoise; text-transform:
                                uppercase;"><strong><a
                                        href="https://youtu.be/NM9VhET6QeE?t=1700"
                                        target="_blank"> &nbsp;&nbsp;EVENT
                                        RECORDING</a></strong></span></summary>
                        <img src="assets/images/devrel-il-SQ.png" alt="DevRel
                            IL" width="150"
                            style="float: left; padding-right: 10px;" />
                        <br />
                        <div>
                            <p>We were joined by Ofir Nachmani, IOD Cloud Tech
                                Research & Oren Hacohen, Snyk - to learn about
                                how to build a content machihe, first the
                                methodology, then how to automate all the
                                things,
                                through Programmatic SEO.</p>
                        </div>

                        <br />
                        <br />
                    </details>


                    <details>
                        <summary><strong>April Event: Kubernetes, Microservices,
                                Production, Scale with Aerospike &
                                Playtika</strong> | <i class="fa
                                fa-video-camera"></i><span
                                style="color: turquoise; text-transform:
                                uppercase;"><strong><a
                                        href="https://www.youtube.com/watch?v=T-vFbnskbKg&t=1395s"
                                        target="_blank">
                                        &nbsp;&nbsp;Event Recording</a></strong></span>
                        </summary>
                        <img src="assets/images/cloudnative-oss-SQ.png"
                            alt="Cloud Native & OSS" width="150"
                            style="float: left; padding-right: 10px;" />
                        <br />
                        <div>
                            <p>Microservice architecture is designed to be
                                scalable - but when using service oriented
                                private
                                databases, we might face some real-world
                                challenges when we do. Watch these two excellent
                                talks
                                from Aerospike & Playtika on the ins & outs of
                                scaling with your microservices.</p>
                        </div>

                        <br />
                        <br />
                    </details>

                    <details>
                        <summary><strong>March Event: Community Blitz Q1</strong>
                            | <i class="fa fa-video-camera"></i> <span
                                style="color: turquoise; text-transform:
                                uppercase;"><strong><a
                                        href="https://www.youtube.com/watch?v=nSvxFPFSzfI"
                                        target="_blank"> &nbsp;&nbsp;Event
                                        Recording</a></strong></span></summary>
                        <img src="assets/images/communitytlv-events.png"
                            alt="Cloud Native & OSS" width="150"
                            style="float: left; padding-right: 10px;" />
                        <br />
                        <div>
                            <p>Join our three awesome communities - DevOps Tel
                                Aviv, Cloud Native & OSS TLV, and Statscraft for
                                three fantastic sessions in each domain.</p>
                        </div>

                        <br />
                        <br />
                    </details>



                </div> 

                <h1 style="text-transform: uppercase; color: turquoise;
                    text-align:
                    center;">IN LOVING MEMORY OF OUR CO-ORGANIZER <br/>ARIEL
                        MOSKOVICH––YOU ARE MISSED.<br/>
                            <img src="/assets/images/ariel.png" width="400"></h1>
                    </div>-->
                    </div>
                </section>