<section id="two">
    <div class="inner">
        <div>
            <h3 style="text-transform: uppercase;"><span style="color: turquoise;"><i class="fa fa-calendar"></i>
                    Upcoming Community Events</span></h3>
        </div>

        <div class="box" style="background-color: #2a2f4a;">
            <h4>24-MAY-2021 | SPONSOR EVENT: MLOps for Good Hackathon | Iguazio</h4>
            <img src="assets/images/sponsor-logos/iguazio-SQ.jpeg" alt="MLOps for Good Hackathon" width="150"
                style="float: left; padding-right: 10px;" />
            <br />
            <div>
                <p>OUR COMMUNITY FRIENDS FROM IGUAZIO HAVE LAUNCHED A COMMUNITY HACKATHON FOR GOOD, JOIN THE CAUSE</p>
            </div>
            <span style="float: right; color: turquoise; text-transform: uppercase;"><strong><a href="http://bit.ly/mlopsforgood-tlv-community"
                        target="_blank">LEARN MORE & REGISTER</a></strong></span>
            <br />
            <br />

        </div>


        <div class="box" style="background-color: #2a2f4a;">

            <h4>09-JUNE-2021 | 18:00 (IL) - Behind the Scenes of Scaling Up with Oribi</h4>
            <img src="assets/images/production-jungle.png" alt="Production Jungle" width="150"
                style="float: left; padding-right: 10px;" />
            <br />
            <div>
                <p>We'll be hosting the super awesome <a href="https://oribi.io/">Oribi</a> team for three excellent
                    talks that will focus on typical challenges with transitioning from a startup to a scaleup and the
                    impact on engineering. </p>
            </div>
            <span style="float: right; color: turquoise; text-transform: uppercase;"><strong><a
                        href="http://bit.ly/tlv-community-may-meetup" target="_blank">LEARN MORE & REGISTER</a> | <a
                        href="/live" target="_blank">Event Details & Live Stream</a></strong></span>
            <br />
            <br />

        </div>
        
         <div class="box" style="background-color: #2a2f4a;">
            <h4>13-JUNE-2021 | 17:30 (IL) - SPONSOR EVENT: From Relational to NoSQL - Why & How?</h4>
            <img src="assets/images/sponsor-logos/couchbase-SQ.png" alt="Sponsored - Couchbase" width="150"
                style="float: left; padding-right: 10px;" />
            <br />
            <div>
                <p>While relational databases have been used for decades, and they still are a viable solution for many use cases, many engineers and architects prefer to use NoSQL databases for their numerous advantages over relational databases. In this webinar we’ll discuss the different aspects of migrating from relational databases to NoSQL databases and answer questions. </p>
            </div>
            <span style="float: right; color: turquoise; text-transform: uppercase;"><strong><a
                        href="https://bit.ly/3wSoNKn" target="_blank">LEARN MORE & REGISTER</strong></a></span>
            <br />
            <br />

        </div>

        <div class="box" style="background-color: #2a2f4a;">
            <h4>27-JUNE-2021 | 18:00 (IL) - TLV Community Q2 Blitz, Hosted by <a href="https://solutotlv.com"
                    target="_blank"> Soluto</a></h4>
            <img src="assets/images/communitytlv-events.png" alt="TLV Community Q2 Blitz" width="150"
                style="float: left; padding-right: 10px;" />
            <br />
            <div>
                <p>We'll be hosting the super awesome <a href="https://oribi.io/">Oribi</a> team for three excellent
                    talks that will focus on typical challenges with transitioning from a startup to a scaleup and the
                    impact on engineering. </p>
            </div>
            <span style="float: right; color: turquoise; text-transform: uppercase;"><strong><a
                        href="http://bit.ly/tlv-community-q2-blitz" target="_blank">LEARN MORE &
                        REGISTER</a></strong></span>
            <br />
            <br />

        </div>

    </div>
</section>
