<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Security at the speed of CI/CD is possible. Join the revolution!">
    <meta property="og:image" content="https://ia.media-imdb.com/images/rock.jpg" />
    
    <!-- Bootstrap CSS -->
    <link href="css/bootstrap-grid.min.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

    <title>Cider Security</title>
  </head>
  <body>
  	<header>
	  	<div class="container">
	  		<div class="row">
	  			<div class="col-lg-12">
	  				<div class="flex-warp">
		    			<a href="/" class="logo"><img src="images/cider-logo.svg"></a>
		    			<ul class="main-menu">
		    				<li><a class="page-scroll" href="#contact">contact</a></li>
                           <li><a href="https://boards.eu.greenhouse.io/cidersecurity/" target="_blank">Careers</a></li>
		    			</ul>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
  	</header>
  	<div class="top-banner">
  		<div class="container">
  			<div class="row">
  				<div class="col-lg-12">
  					<div class="content-warp">
	  					<h1>Security<br>at the pace of<br>enginnering</h1>
	  					<p>Engineering teams today move fast, and security teams need to rethink the way they work with dev teams.</p>
	  					<p>It's time to revolutionize the way Security, Dev and DevOps teams work together to supercharge scurity at the speed of engineering</p>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  	<div class="features">
  		<div class="container">
  			<div class="row">
  				<div class="col-lg-12">
  					<div class="item-warp">
	  					<div class="item">
		  					<img src="images/PLUG_PLAY.svg">
		  					<h2>Plug & Play</h2>
		  					<p>Stop the fragmentation, manage your security tooling in one place.</p>
	  					</div>
	  					<div class="item">
		  					<img src="images/File_SIMPLE.svg">
		  					<h2>Simple</h2>
		  					<p>Easy to connect<br>and to use.</p>
	  					</div>
	  					<div class="item">
		  					<img src="images/File_VISIBILITY.svg">
		  					<h2>Visibility</h2>
		  					<p>Unified view in a single place - no need to search elsewhere</p>
	  					</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  	<div class="contact">
  		<div class="container">
  			<div class="row">
  				<div class="col-lg-12">
  					<div class="content-warp">
	  					<div class="header-section" id="#contact">
	  						<p>Somthing is brewing at Cider...</p>
	  						<h3>Join the appsec revolution!</h3>
	  					</div>
	  					<div class="contact-warp">
	  						<div class="info">
	  							<h2>Contact Us</h2>
	  							<p>if you want to learn more about what we're up to, or are looking for an exciting employment opportunity, feel free to reach out!</p>
	  						</div>
	  						<div class="contact-form">
	  							<form action="https://formspree.io/f/mqkweanr" method="POST"> 
								    <div class="form-group">
								        <label>* Your Name</label>
								        <input type="text" class="form-control"id="name" required="" data-validation-required-message="Please enter your name.">
								        <p class="help-block text-danger"></p>
								        <label>* Your E-mail</label>
								        <input type="email" name="_replyto" class="form-control" id="email" required="" data-validation-required-message="Please enter your email address.">
								        <p class="help-block text-danger"></p>
								        <label>* Your Phone</label>
								        <input type="tel" class="form-control" id="phone" required="" data-validation-required-message="Please enter your phone number." style="margin-bottom: 0;">
								        <p class="help-block text-danger"></p>
								    </div>
								    <div class="form-group">
								        <label>* Your Message</label>
								        <textarea class="form-control" id="message" required="" data-validation-required-message="Please enter a message." name="message"></textarea>
								        <p class="help-block text-danger"></p>
								    </div>
								    <div>
								    	<input type="image" src="images/File_Button.svg" name="submit" width="100" height="48" alt="submit"/>  
								        <div id="success"></div>
								        <!-- <button type="submit" class="btn btn-xl">
								            <img src="images/File_Button.svg">
								        </button>        -->     
								    </div>
								</form>
	  						</div>
	  					</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>
  	<footer>
  		<div class="blue-devider"></div>
  		<div class="container">
  			<div class="row">
  				<div class="col-lg-12">
  					<div class="flex-warp">
  						<a href="/" class="logo"><img src="images/cider-logo.svg"></a>
  						<div>Let's talk:<br><a href="mailto:info@cidersecurity.io">info@cidersecurity.io</a></div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</footer>
  </body>
</html>