
<div class="row">
    <img src="assets/images/meetup-SQ.png" alt="DevSecCon TLV" width="180" />
    <br />
    <h3><i class="fa fa-calendar"></i> <span style="color: turquoise; text-transform: uppercase;">Upcoming Event: March 16th - 12PM </span> | <a href="https://www.meetup.com/cloud-native-oss/events/276664126/" target="_blank">RSVP HERE</a></h3>
    </div>

<!-- DevOps-->
<div class="box" style="background-color: #2a2f4a;" >
	<div><img src="assets/images/devopstlv-SQ.png" alt="DevOps TLV" width="180" />
    </div>

	<div><h3 style="text-transform: uppercase;"><span style="color: turquoise;">DEVOPS</span>
	| DevOps in Search of a Better Definition</h3></div>
    <a href="#open-modal-1"><img src="assets/images/speakers/yair.png" alt="Yair Etziony - Polar Squad Germany" width="200" style="float: left; padding-right: 10px;" /></a>
        <ul class="icons"><span style="color: turquoise; text-transform: uppercase;">Yair Etziony<br/> Polar Squad</span><br/>
        <li><a href="https://twitter.com/etzionyyair" target="_blank" class="icon fa-twitter"></a></li>
        <li><a href="https://www.linkedin.com/in/yair-etziony-2653812a/"  target="_blank" class="icon fa-linkedin"></a></li>
        <li><a href="https://github.com/PolarYair/" target="_blank" class="icon fa-github"></a></li></ul>
        
        <div id="open-modal-1" class="modal-window">
        <div><a href="#1" title="Close" class="modal-close">X</a>
        <div><small>Yair Etziony is the head of operations for Polar Squad Germany, with over twenty years of experience in the field (in various roles, such as a QA engineer, System engineer, System administrator). Yair is also a musician and worked in the past as an art curator and a journalist for known magazines. He is one of the Berlin DevOps meetup group organizers, and he was on the comity for the Helm Summit EU 2019. He holds a BA in modern history and philosophy.</small></div> 
        </div>
        </div>  
	<div><p>I want to argue that most companies are confusing methodologies and practices, pushing the transformation in the wrong direction. I want to use my experience as a DevOps consultant and as someone who studied history of ideas to define DevOps better.</p>
	</div>
</div>


<!-- Cloud Native-->
<div class="box" style="background-color: #2a2f4a;" >
	<div><img src="assets/images/cloudnative-oss-SQ.png" alt="Cloud Native & OSS TLV" width="180" />
    </div>

	<div><h3 style="text-transform: uppercase;"><span style="color: turquoise;">CLOUD NATIVE & OSS</span>
	| Building a Cloud Native Product in 2020 </h3></div>
    <a href="#open-modal-2"><img src="assets/images/speakers/itiel.png" alt="Yair Etziony - Polar Squad Germany" width="200" style="float: left; padding-right: 10px;" /></a>
        <ul class="icons"><span style="color: turquoise; text-transform: uppercase;">Itiel Shwartz<br/> Komodor</span><br/>
        <li><a href="https://twitter.com/itielshwartz" target="_blank" class="icon fa-twitter"></a></li>
        <li><a href="https://www.linkedin.com/in/itiel-shwartz-18542853/"  target="_blank" class="icon fa-linkedin"></a></li>
        <li><a href="https://github.com/itielshwartz/" target="_blank" class="icon fa-github"></a></li></ul>
        
        <div id="open-modal-2" class="modal-window">
        <div><a href="#2" title="Close" class="modal-close">X</a>
        <div><small>Itiel is the CTO and co-founder of Komodor, a startup building the first k8s-native troubleshooting platform. A big believer in dev empowerment and moving fast. Worked at eBay|Forter| Rookout (first developer), A backend and infra developer turned “DevOps”, an avid public speaker that loves talking about things such as cloud infrastructure, kubernetes, python, observability, and R&D culture.</small></div> 
        </div>
        </div>  
	<div><p>My story about kickstarting a cloud native company in 2020, built from scratch using the latest (and greatest) tools and processes. Some of these include k8s (what else?!), ci/cd, motoring tools, centralized logging, error tracking, etc. While building Komodor, we learned and changed quite a lot. In this talk, I will share some of the good decisions we have taken (go Hasura!), but also about the challenges we faced, what technologies and the processes we decided to ditch, and what lessons we learned during the past year.</p>
	</div>
</div>


<!-- DevOps-->
<div class="box" style="background-color: #2a2f4a;" >
	<div><img src="assets/images/statscraft-SQ.png" alt="DevOps TLV" width="180" />
    </div>

	<div><h3 style="text-transform: uppercase;"><span style="color: turquoise;">STATSCRAFT</span>
        | One Metric to Rule them All: Cycle Time</h3></div>
    <a href="#open-modal-3"><img src="assets/images/speakers/yishai.png" alt="Yishai Beeri - LinearB" width="200" style="float: left; padding-right: 10px;" /></a>
        <ul class="icons"><span style="color: turquoise; text-transform: uppercase;">Yishai Beeri<br/> LinearB</span><br/>
        <li><a href="https://twitter.com/yishaibeeri" target="_blank" class="icon fa-twitter"></a></li>
        <li><a href="https://www.linkedin.com/in/yishaibeeri/"  target="_blank" class="icon fa-linkedin"></a></li>
        <li><a href="https://github.com/yishaibeeri/" target="_blank" class="icon fa-github"></a></li></ul>
        
        <div id="open-modal-3" class="modal-window">
        <div><a href="#3" title="Close" class="modal-close">X</a>
        <div><small>Yishai Beeri likes to solve problems, and has made it a focus of his career to solve complex programming problems, both as a consultant and entrepreneur. In 2014 he joined the CTO office of a fast-moving cloud security startup, which later was acquired by a networking giant. At this startup he also met Ori Keren and Dan Lines, now co-founders of LinearB. He joined them shortly after the company was established, in order to get back to what he loves most about engineering, solving big challenges, and this time he is focusing on the world of dev team metrics and software delivery management.</small></div> 
        </div>
        </div>  
	<div><p>If you only measure one metric this is it: Cycle Time. It is probably the most underrated and least understood metric in engineering. Yet this is the metric that comprises the most important aspects to measure in your engineering process.<br />
        This talk will focus on how to fine-tune and get Cycle Time right. It’s a mix of improving your planning, interfaces between product and engineering, communication, review and quality gates and release mechanisms, essentially everything your engineering process encompasses. If you can game this metric, then you will realize huge gains for your entire dev process and engineering organization.</p>
	</div>
</div>