<section id="two">
    <div class="inner">

        <p>
            <br />
        </p>
        <div>
            <h3 style="text-transform: uppercase;"><span style="color:
                    turquoise;"><i class="fa fa-rss"></i>
                    TLV COMMUNITY NEWSLETTER</span></h3>
        </div>

        <div class="box" style="background-color: #2a2f4a; text-align: center;">
            <rssapp-list id="tKy5IKsTblkZeolh"></rssapp-list><script src="https://widget.rss.app/v1/list.js" type="text/javascript" async></script>

                    <br/>
                    <br/>

                    <ul class="actions" style="float: center; padding-left:
                        20px;">
                        <li><a
                                href="http://eepurl.com/hd_2BP"
                                target="_blank" class="button next"> SUBSCRIBE TO OUR NEWSLETTER</a></li>
                    </ul>

                    <br />
                    <br />

                </div>            

                </div>            
                </section>