
<div class="box" style="width: 100%; text-align: center;">
    <h2 style="text-transform: uppercase;">Previous Event Speakers</h2>
       <div class="row">
           <div class="2u">
           <span class="image fit"><img src="/assets/images/speakers/nicole.png" alt="" /></span>
           <ul class="icons">DR. NICOLE FORSGREN | GITHUB</ul></div>
   
           <div class="2u">
           <span class="image fit"><img src="/assets/images/speakers/jono.png" alt="" /></span>
           <ul class="icons">JONO BACON | COMMUNITY CONSULTANT</ul></div>
   
           <div class="2u">
           <span class="image fit"><img src="/assets/images/speakers/corey.png" alt="" /></span>
           <ul class="icons">COREY QUINN | THE DUCKBILL GROUP </ul></div>
   
          <div class="2u">
          <span class="image fit"><img src="/assets/images/speakers/charity.png" alt="" /></span>
          <ul class="icons">CHARITY MAJORS | HONEYCOMB.IO </ul></div>
   
          <div class="2u">
          <span class="image fit"><img src="/assets/images/speakers/benr.png" alt="" /></span>
          <ul class="icons">BEN ROCKWOOD | EQUINIX </ul></div>
   
           <div class="2u">
           <span class="image fit"><img src="/assets/images/speakers/arup.png" alt="" /></span>
           <ul class="icons">ARUP CHAKRABARTI | PAGER DUTY </ul></div>
        </div>
   
         <div class="row 20% uniform">
           <div class="2u">
           <span class="image fit"><img src="/assets/images/speakers/liz.png" alt="" /></span>
           <ul class="icons">LIZ RICE | ISOVALENT</ul></div>
   
           <div class="2u">
           <span class="image fit"><img src="/assets/images/speakers/noam.png" alt="" /></span>
           <ul class="icons">NOAM ROTEM | HYPERGUEST</ul></div>
   
           <div class="2u">
           <span class="image fit"><img src="/assets/images/speakers/abby.png" alt="" /></span>
           <ul class="icons">ABBY FULLER | AWS </ul></div>
   
          <div class="2u">
          <span class="image fit"><img src="/assets/images/speakers/amir-shevat.png" alt="" /></span>
          <ul class="icons">AMIR SHEVAT | TWITTER </ul></div>
   
          <div class="2u">
          <span class="image fit"><img src="/assets/images/speakers/zeev.png" alt="" /></span>
          <ul class="icons">ZEEV SURASKI | STRATTIC </ul></div>
   
           <div class="2u">
           <span class="image fit"><img src="/assets/images/speakers/gwen.png" alt="" /></span>
           <ul class="icons">GWEN SHAPIRA | CONFLUENT </ul></div>
        </div>
   
        <div class="row 20% uniform">
           <div class="2u">
           <span class="image fit"><img src="/assets/images/speakers/stephen.png" alt="" /></span>
           <ul class="icons">STEPHEN NELSON-SMITH | TICKETMASTER</ul></div>
   
           <div class="2u">
           <span class="image fit"><img src="/assets/images/speakers/sasha.png" alt="" /></span>
           <ul class="icons">SASHA ROSENBAUM | RED HAT</ul></div>
   
           <div class="2u">
           <span class="image fit"><img src="/assets/images/speakers/matty.png" alt="" /></span>
           <ul class="icons">MATT STRATTON | PULUMI </ul></div>
   
          <div class="2u">
          <span class="image fit"><img src="/assets/images/speakers/shlomi.png" alt="" /></span>
          <ul class="icons">SHLOMI NOACH | PLANETSCALE </ul></div>
   
          <div class="2u">
          <span class="image fit"><img src="/assets/images/speakers/heidi.png" alt="" /></span>
          <ul class="icons">HEIDI WATERHOUSE | LAUNCH DARKLY </ul></div>
   
           <div class="2u">
           <span class="image fit"><img src="/assets/images/speakers/brian.png" alt="" /></span>
           <ul class="icons">BRIAN MURPHY | SEATGEEK </ul></div>
        </div>
   </div>