<h3><i class="fa fa-calendar"></i> <span style="color: turquoise; text-transform: uppercase;"><strong>March 30th @
            17:45</strong> </span> </h3>
<ul class="actions" style="padding-left: 20px;">
    <li><a href="https://bit.ly/q1-2022-community-blitz-RSVP" target="_blank" class="button next">RSVP</a></li>
</ul>

<h4>Hosted by: <a href="https://www.transmitsecurity.com/" target="_blank">Transmit Security</a> | Yigal Alon 94, Alon
    Tower 1, 8th Floor, Tel Aviv (<a href="https://www.google.com/maps/search/?api=1&query=32.068527%2C34.794155"
        target="_blank">map</a>) | <a href="https://bit.ly/q1-2022-community-blitz-gcal" target="_blank">Add to
        Calendar</a></h4>
<!-- DevOps-->
<div class="box" style="background-color: #2a2f4a;">
    <div><img src="assets/images/devopstlv-SQ.png" alt="DevOps TLV" width="180" />
    </div>

    <div>
        <h3 style="text-transform: uppercase;"><span style="color: turquoise;">DEVOPS</span>
            | &nbsp; Want to be part of a great platform engineering org?! You gotta be data driven!</h3>
    </div>
    <div>
        <p>Every modern platform engineering organization wants to embrace the notions of Fail Fast, Engineering
            Empowerment and Scale, but you cannot do any of those if you do not have the fundamentals of being able to
            make data driven decisions. This talk outlines the 5 essential steps to become a data-driven organization.
        </p>
    </div>
    <a href="#open-modal-1"><img src="assets/images/speakers/orit-y.png" alt="Orit Yaron - Transmit Security"
            width="150" style="float: left; padding-right: 10px;" /></a>
    <ul class="icons"><span style="color: turquoise; text-transform: uppercase;">Orit Yaron,<br /> VP Cloud Platform, <a
                href="https://www.transmitsecurity.com/" target="_blank">Transmit Security</a></span><br />
        <!-- <li><a href="https://twitter.com/#" target="_blank" class="icon fa-twitter"></a></li> -->
        <li><a href="https://www.linkedin.com/in/orit-yaron-a161471/" target="_blank" class="icon fa-linkedin"></a></li>
        <!-- <li><a href="https://github.com/#" target="_blank" class="icon fa-github"></a></li> --></ul>
        <p></p>
        <p>&nbsp;</p>

        <div id="open-modal-1" class="modal-window">
            <div><a href="#1" title="Close" class="modal-close">X</a>
                <div><small>Orit is a veteran in the SaaS and Security industry. Prior to Transmit Security she held
                        different leadership roles in high-scale SaaS and Security organizations as Outbrain, RSA and
                        Cyota.
                        In between I make sure to sail and make waves.

                        source control to production monitoring. From large team interwork to a one-person show.</small>
                </div>
            </div>
        </div>

</div>


<!-- Cloud Native-->
<div class="box" style="background-color: #2a2f4a;">
    <div><img src="assets/images/cloudnative-oss-SQ.png" alt="Cloud Native & OSS TLV" width="180" />
    </div>

    <div>
        <h3 style="text-transform: uppercase;"><span style="color: turquoise;">CLOUD NATIVE & OSS</span>
            | &nbsp;5 Open Source Security Tools All Developers Should Know About</h3>
    </div>
    <div>
        <p>The minimum viable security (MVS) approach, enables us to easily bake security into our config files, apps,
            and CI/CD processes with a few simple controls built - and the great part? It’s easily achievable through
            open source tooling.<br />

            In this talk we will focus on five critical security controls that will be integrated as part of the CI/CD
            pipeline by leveraging some excellent open source tools, including: Bandit or SEMGrep for static application
            security (SAST), Gitleaks to detect hard-coded or insufficiently secured secrets & dependency checks (SCA),
            KICS for infrastructure as code (IaC) and OWASP’s ZAP for API and dynamic application security (DAST), in
            addition to custom controls to ensure proper enforcement of MFA via Github Security. These controls will
            provide a foundational framework for securing your applications from the first line of code.</p>
    </div>
    <a href="#open-modal-2"><img src="assets/images/speakers/aviram.png" alt="Aviram Shmueli - Jit" width="150"
            style="float: left; padding-right: 10px;" /></a>
    <ul class="icons"><span style="color: turquoise; text-transform: uppercase;">Aviram Shmueli,<br /> CPO & Co-Founder,
            <a href="https://jit.io" target="_blank">Jit</a></span><br />
        <li><a href="https://twitter.com/aviramsh/" target="_blank" class="icon fa-twitter"></a></li>
        <li><a href="https://www.linkedin.com/in/aviramshmueli/" target="_blank" class="icon fa-linkedin"></a></li>
        <li><a href="https://github.com/aviramshm" target="_blank" class="icon fa-github"></a></li>
    </ul>

    <div id="open-modal-2" class="modal-window">
        <div><a href="#2" title="Close" class="modal-close">X</a>
            <div><small>Aviram is currently CPO and Co-Founder of Jit, the Continuous Security Platform for Developers.
                    Aviram is a software engineer at heart that moved to the "dark side" of Product Management.<br />

                    Aviram has more than 20 years of hands-on experience in engineering and has held senior managerial
                    roles in both engineering and product management organizations, working for leading organizations
                    such as CyberArk & SentinelOne. He always strives to create great products that users love. Thanks
                    to his engineering background, Aviram is on a constant journey to create high-velocity product and
                    engineering teams that work together as one team.<br />
                    Aviram holds B.Sc & M.Sc in Computer Engineering, MBA and MA in Law.</small></div>
        </div>
    </div>
    <p>&nbsp;</p>
</div>


<!-- DevOps-->
<div class="box" style="background-color: #2a2f4a;">
    <div><img src="assets/images/statscraft-SQ.png" alt="DevOps TLV" width="180" />
    </div>

    <div>
        <h3 style="text-transform: uppercase;"><span style="color: turquoise;">STATSCRAFT</span>
            | Debugging at Scale &nbsp;</h3>
    </div>
    <div>
        <p>As every developer has experienced, code rarely behaves the way you expect. Especially once it gets deployed
            outside of our laptops to staging, to production, or to the cloud. Yet understanding how code behaves (and
            why it behaves that way) is at the heart and soul of software development.<br />

            An important tool of the trade to solve these problems has been the debugger. Debuggers are our eyes and
            ears into the blackbox of software applications, enabling us to see what’s really going on. With software
            becoming a critical part of every business, and developers having a greater role in delivering high-quality
            service, it’s more important than ever to use a modern debugger that works across hybrid, distributed
            environments.</p>
    </div>
    <a href="#open-modal-3"><img src="assets/images/speakers/noa-g.png" alt="Noa Goldman - Rookout" width="150"
            style="float: left; padding-right: 10px;" /></a>
    <ul class="icons"><span style="color: turquoise; text-transform: uppercase;">Noa Goldman<br /> Product Manager, <a
                href="https://rookout.com/" target="_blank">Rookout</a> </span><br />
        <!-- <li><a href="https://twitter.com/hab_mic" target="_blank" class="icon fa-twitter"></a></li> -->
        <li><a href="https://www.linkedin.com/in/goldmanoa/" target="_blank" class="icon fa-linkedin"></a></li>
        <li><a href="https://github.com/noagoldman" target="_blank" class="icon fa-github"></a></li>
    </ul>

    <div id="open-modal-3" class="modal-window">
        <div><a href="#3" title="Close" class="modal-close">X</a>
            <div><small>Noa is Rookout’s Product Manager. Having been a developer for eight years, her goal in life now
                    is to take complicated technology and products and simplify it to the point that anyone can
                    understand and use it. In her free time, you can find her training at her local CrossFit gym, giving
                    a talk at a conference, or eating a bowl of raw cookie dough.


                </small></div>
        </div>
    </div>

</div>