<h3><i class="fa fa-calendar"></i> <span style="color: turquoise; text-transform:
        uppercase; font-weight: 800;">September 13th @
        18:00</span> </h3>
<ul class="actions" style="padding-left: 20px;"><li><a
            href="https://bit.ly/q3-2022-community-blitz" target="_blank"
            class="button next">RSVP</a></li></ul>

<h4 style="text-transform:uppercase;">Hosted by: <a
        href="https://www.ziprecruiter.com/" target="_blank"> Ziprecruiter</a> |
    Ha'arabaa 30, Haggiag Tower, Tel Aviv (<a href="https://goo.gl/maps/XX2hz2f3EYbBqkK69"
        target="_blank">map</a>) | <a
        href="https://bit.ly/q3-2022-community-blitz-GCAL" target="_blank">Add
        to Calendar</a></h4>

<img src="/assets/images/community-tlv-meetup-SEP22.png">