
<h3><i class="fa fa-calendar"></i> <span style="color: turquoise; text-transform: uppercase;"><strong></strong> OSS in IL | July 28th @ 18:30</span> | <a href="http://bit.ly/tlv-community-q2-blitz" target="_blank">RSVP HERE</a></h3>
<p>Hosted by: Nielsen R&D IL | Derech Menachem Begin 121 Azrieli Sarona, 18th floor · Tel Aviv-Yafo (<a href="https://goo.gl/maps/hJCkHXui4dWzNtCMA" target="_blank">map</a>) | <a href="http://bit.ly/tlv-community-q2-blitz-gcal" target="_blank">Add to Calendar</a></p>
<!-- DevOps-->
<div class="box" style="background-color: #2a2f4a;" >
	<div><img src="/assets/images/cloudnative-oss-SQ.png" alt="Cloud Native & OSS IL" width="180" />
    </div>

	<a href="https://www.meetup.com/cloud-native-oss/events/279362387/" target="_blank"><img src="/assets/images/community-tlv-meetup-oss-IL-july-LT.png"></a>

    <div class="row">
        <div class="inner">
            <h2 style="text-transform: uppercase;">Register to Join Us</h2>
                <ul class="actions">
                    <li><a href="https://www.meetup.com/cloud-native-oss/events/279362387/" target="_blank" class="button next">RSVP</a></li></ul>
        </div>
    </div>

    </div>