
<h3><i class="fa fa-calendar"></i> <span style="color: turquoise; text-transform: uppercase;"><strong></strong> MEETUP RESCHEDULED! NEW DATE - July 27th @ 18:30</span> | <a href="http://bit.ly/tlv-community-q2-blitz" target="_blank">RSVP HERE</a></h3>
<p>Hosted by: Soluto Engineering | Rothschild 39, Tel Aviv (<a href="https://goo.gl/maps/hJCkHXui4dWzNtCMA" target="_blank">map</a>) | <a href="http://bit.ly/tlv-community-q2-blitz-gcal" target="_blank">Add to Calendar</a></p>
<!-- DevOps-->
<div class="box" style="background-color: #2a2f4a;" >
	<div><img src="assets/images/devopstlv-SQ.png" alt="DevOps TLV" width="180" />
    </div>

	<div><h3 style="text-transform: uppercase;"><span style="color: turquoise;">DEVOPS</span>
	| Differentiators in CI Systems &nbsp; </h3></div>
    <a href="#open-modal-1"><img src="assets/images/speakers/gilb.png" alt="Batel Zohar - JFrog" width="200" style="float: left; padding-right: 10px;" /></a>
        <ul class="icons"><span style="color: turquoise; text-transform: uppercase;">Gil Bahat<br/> DevOps Free Agent</span><br/>
        <li><a href="https://twitter.com/gilbahat" target="_blank" class="icon fa-twitter"></a></li>
        <li><a href="https://www.linkedin.com/in/gilbahat"  target="_blank" class="icon fa-linkedin"></a></li>
        <li><a href="https://github.com/gilbahat/" target="_blank" class="icon fa-github"></a></li></ul>
        <p></p>
        <p>&nbsp;</p>
        
        <div id="open-modal-1" class="modal-window">
        <div><a href="#1" title="Close" class="modal-close">X</a>
        <div><small>A Gil, of all trades.

            I love a varied DevOps experience - from MLOps to FinOps to DevOps, from multimedia to healthcare to security. From source control to production monitoring. From large team interwork to a one-person show.
            
            My blog: <a href="https://aonewomanshow.medium.com" target="_blank">https://aonewomanshow.medium.com</a></small></div> 
        </div>
        </div>  
	<div>
        <p>&nbsp;</p>

	</div>
</div>


<!-- Cloud Native-->
<div class="box" style="background-color: #2a2f4a;" >
	<div><img src="assets/images/cloudnative-oss-SQ.png" alt="Cloud Native & OSS TLV" width="180" />
    </div>

	<div><h3 style="text-transform: uppercase;"><span style="color: turquoise;">CLOUD NATIVE & OSS</span>
	| Practical Canary Releases in Kubernetes with Argo Rollouts &nbsp;</h3></div>
    <a href="#open-modal-2"><img src="assets/images/speakers/sari.png" alt="Sari Alalem - Soluto" width="200" style="float: left; padding-right: 10px;" /></a>
        <ul class="icons"><span style="color: turquoise; text-transform: uppercase;">Sari Alalem<br/> Soluto</span><br/>
        <li><a href="https://twitter.com/SariAlalem/" target="_blank" class="icon fa-twitter"></a></li>
        <li><a href="https://www.linkedin.com/in/sari-alalem-7a515129/"  target="_blank" class="icon fa-linkedin"></a></li>
        <li><a href="https://github.com/sarialem/" target="_blank" class="icon fa-github"></a></li></ul>
        
        <div id="open-modal-2" class="modal-window">
        <div><a href="#2" title="Close" class="modal-close">X</a>
        <div><small>Sari Alalem, is a full stack developer & part of the ‘Anywhere Expert’ team at Soluto, with 10+ years of experience in the software industry.
            Through which, Sari wore the hats of a QA Engineer, QA Lead, & Full stack development, in his last hat he was able to help introduce Canary (CI/CD tool) deployments & kick off Guilds in Soluto to enable any Soluto member to bring change.
            Sari loves to draw with a minimal set of pencils and charcoal, less hassle & can draw anytime anywhere ;)</small></div> 
        </div>
        </div>  
	<div><p>With a fast paced CI/CD process and a high rate of deployments happening in a micro services base infrastructure, bugs can slip through the tests into production & when that happens you want to protect yourself & your customers from being exposed to this situation. Adding another layer of protection using a canary release/rollout process in your K8s cluster can give you this level of protection if done right, there is no one ring to rule them all, but guidelines that enable you to achieve the best canary rollout process you can have using Argo Rollouts</p>
	</div>
</div>


<!-- DevOps-->
<div class="box" style="background-color: #2a2f4a;" >
	<div><img src="assets/images/statscraft-SQ.png" alt="DevOps TLV" width="180" />
    </div>

	<div><h3 style="text-transform: uppercase;"><span style="color: turquoise;">STATSCRAFT</span>
        | The State of Observability &nbsp;</h3></div>
    <a href="#open-modal-3"><img src="assets/images/speakers/michaelhab.png" alt="Michael Haberman - Aspecto" width="200" style="float: left; padding-right: 10px;" /></a>
        <ul class="icons"><span style="color: turquoise; text-transform: uppercase;">MICHAEL HABERMAN<br/> Aspecto</span><br/>
        <li><a href="https://twitter.com/hab_mic" target="_blank" class="icon fa-twitter"></a></li>
        <li><a href="https://www.linkedin.com/in/michael-haberman/"  target="_blank" class="icon fa-linkedin"></a></li>
        <li><a href="https://github.com/habmic/" target="_blank" class="icon fa-github"></a></li></ul>
        
        <div id="open-modal-3" class="modal-window">
        <div><a href="#3" title="Close" class="modal-close">X</a>
        <div><small>Michael is the Co-Founder & CTO of Aspecto. After serving as a software developer in an elite unit in the Israeli Intelligence branch, Michael worked with a few startups on building and scaling their microservices infrastructure. Prior to co-founding Aspecto, he was the Chief Architect at Playbuzz. In his free time, Michael also lectures and conducts workshops on microservices at conferences.

        </small></div> 
        </div>
        </div>  
	<div><p>With the acceleration of scale and complexity in distributed architectures, the pressure to understand when and where there was abnormal behavior, identify why it occurred, quickly fix it, & prevent similar issues from happening in the future is rapidly growing.<br/>

        Here is where observability comes into play. Observability gives you an inside look at what’s happening in your distributed system, empowering you to understand what is slow or broken & what you can do to improve performance, from pre-production to deployment.<br/>
        
        In this talk, we will explore the future of observability and the upcoming observability trends. We’ll introduce you to the three pillars of observability (metrics, traces, and logs) & show you how you can use them to make your system more observable.<br/>
        
        And finally, we’ll explain how you can make observability actionable & scalable for your team by using OpenTelemetry (an open-source project and a member of the CNCF).</p>
	</div>
</div>
