
 <h1 style="text-transform: uppercase;">EVENT ORGANIZER</h1>
 <a href="https://cidersecurity.io" target="_blank"><img src="/assets/images/sponsor-logos/cider.png" width="350px"></a>

 <hr class="major">

 <h2 style="text-transform: uppercase;">COMMUNITY PILLARS</h2>


<a href="https://www.ermetic.com" target="_blank"><img src="/assets/images/sponsor-logos/ermetic-SQ.png" width="180px"></a>&nbsp;<a href="https://www.orbit.love" target="_blank"><img src="/assets/images/sponsor-logos/orbit-SQ.png" width="180px"></a>&nbsp;<a href="https://www.livecycle.io" target="_blank"><img src="/assets/images/sponsor-logos/livecycle-SQ.png" width="180px"></a>&nbsp;<a href="https://www.terasky.com" target="_blank"><img src="/assets/images/sponsor-logos/terasky-SQ.png" width="180px"></a>&nbsp;<a href="https://doubleverify.com/careers/" target="_blank"><img src="/assets/images/sponsor-logos/DV-SQ.png" width="180px"></a>&nbsp;<a href="https://aerospike.com/lp/get-to-know-aerospike/" target="_blank"><img src="/assets/images/sponsor-logos/aerospike-SQ.png" width="180px"></a>&nbsp;<a href="https://medium.com/riskified-technology" target="_blank"><img src="/assets/images/sponsor-logos/riskified-SQ.png" width="180px"></a>


<br/>
<br/>


 <h2 style="text-transform: uppercase;">MEDIA PARTNERS</h2>
<a href="https://daily.dev" target="_blank"><img src="/assets/images/sponsor-logos/dailydev.png" width="250px"></a>

<a href="https://open.spotify.com/show/6zOz0Te3pMfukT5WfMeXYl" target="_blank"><img src="/assets/images/sponsor-logos/barvazgumi.png" width="120px"></a>

