<div class="box" style="text-align: center;">
    <h1 style="text-transform: uppercase;"><span class="icon fa-heart" style="color: turquoise;"></span>&nbsp; BIG
        THANKS TO OUR 2025
        EVENT SPONSORS &nbsp; <span class="icon fa-heart" style="color:
            turquoise;"></span></h1>
    <h2 style="text-transform: uppercase;"><span class="icon fa-star" style="color: turquoise;"></span>&nbsp; EVENT
        ORGANIZER &nbsp; <span class="icon fa-star" style="color:
            turquoise;"></span></h2>
    <a href="https://rtfmplease.dev" target="_blank"><img src="/assets/images/sponsor-logos/RTFM.png" width="150px"></a>

    <hr class="major">

    <div class="box" style="width: 100%; background-color: #c0d44f;;">

        <h2 style="color: #2a2f4a; text-transform: uppercase;">Diamond
            Sponsor</h2>
    </div>
    <a href="https://scylladb.com" target="_blank"><img src="/assets/images/sponsor-logos/scylla-SQ.png"
            width="250px"></a>
    <div class="box" style="width: 100%; background-color: lightgray;">

        <h2 style="color: #2a2f4a; text-transform: uppercase;">Platinum
            Sponsors</h2>
    </div>
    <a href="https://groundcover.com" target="_blank"><img src="/assets/images/sponsor-logos/groundcover-SQ.png"
            width="210px"></a>&nbsp;<a href="https://www.binat.net.il/" target="_blank"><img
            src="/assets/images/sponsor-logos/binat-SQ.png" width="210px"></a>&nbsp;<a href="https://dell.com/il/rnd"
        target="_blank"><img src="/assets/images/sponsor-logos/Dell-SQ.png" width="210px"></a>&nbsp;<a
        href="https://aws.amazon.com/local/israel/" target="_blank"><img src="/assets/images/sponsor-logos/aws-SQ.png"
            width="210px"></a>
    <br />

    <div class="box" style="width: 100%; background-color:
            #ffd966;">

        <h2 style="color: #2a2f4a; text-transform: uppercase;">Gold
            Sponsors</h2>
    </div>

    <!--<a href="https://armosec.com" target="_blank"><img
                src="/assets/images/sponsor-logos/armosec-SQ.png"
                width="160px"></a>&nbsp;--><a href="https://www.terasky.com" target="_blank"><img
            src="/assets/images/sponsor-logos/terasky-SQ.png" width="160px"></a>&nbsp;<a href="https://coralogix.com/"
        target="_blank"><img src="/assets/images/sponsor-logos/coralogix-SQ.png" width="160px"></a>&nbsp;<a
        href="https://quali.com" target="_blank"><img src="/assets/images/sponsor-logos/quali-SQ.png"
            width="160px"></a>&nbsp;<a href="https://draftt.io/" target="_blank"><img
            src="/assets/images/sponsor-logos/draftt-SQ.png" width="160px"></a>&nbsp;<a href="https://komodor.com"
        target="_blank"><img src="/assets/images/sponsor-logos/komodor-SQ.png" width="160px"></a>&nbsp;<a
        href="https://cast.ai/" target="_blank"><img src="/assets/images/sponsor-logos/cast-SQ.png"
            width="160px"></a>&nbsp;<a href="https://jit.io" target="_blank"><img
            src="/assets/images/sponsor-logos/jit-SQ.png" width="160px"></a>&nbsp;<a href="https://datafy.io"
        target="_blank"><img src="/assets/images/sponsor-logos/datafy-SQ.png" width="160px"></a>&nbsp;<a
        href="https://elastic.co" target="_blank"><img src="/assets/images/sponsor-logos/elastic-SQ.png"
            width="160px"></a>&nbsp;<a href="https://controlmonkey.io/about-us/" target="_blank"><img
            src="/assets/images/sponsor-logos/controlmonkey-SQ.png" width="160px"></a>&nbsp;<a
        href="https://aerospike.com/lp/get-to-know-aerospike/" target="_blank"><img
            src="/assets/images/sponsor-logos/aerospike-SQ.png" width="160px"></a>&nbsp;<a href="https://doit.com"
            target="_blank"><img src="/assets/images/sponsor-logos/cloudbees-SQ.png" width="160px"></a>&nbsp;<a href="https://cloudbees.com"
        target="_blank"><img src="/assets/images/sponsor-logos/doit-SQ.png" width="160px"></a>&nbsp;<a
        href="https://robusta.dev" target="_blank"><img src="/assets/images/sponsor-logos/robusta-SQ.png"
            width="160px"></a>&nbsp;<a href="https://datdoghq.com" target="_blank"><img
            src="/assets/images/sponsor-logos/datadog-SQ.png" width="160px"></a>&nbsp;<a
        href="https://www.automat-it.com/lp/devops-as-a-service/" target="_blank"><img
            src="/assets/images/sponsor-logos/automatit-SQ.png" width="160px"></a>&nbsp;<a
        href="https://www.profisea.com/" target="_blank"><img src="/assets/images/sponsor-logos/profisea-SQ.png"
            width="160px"></a>&nbsp;<a
            href="https://www.flexera.com/" target="_blank"><img src="/assets/images/sponsor-logos/flexera-SQ.png"
                width="160px"></a>&nbsp;<a
                href="https://www.dynatrace.com/" target="_blank"><img src="/assets/images/sponsor-logos/dynatrace-SQ.png"
                    width="160px"></a>&nbsp;<a
                    href="https://www.cloudflare.com/" target="_blank"><img src="/assets/images/sponsor-logos/cloudflare-SQ.png"
                        width="160px"></a>&nbsp;<a
                        href="https://www.matrixdevops.co.il/" target="_blank"><img src="/assets/images/sponsor-logos/matrix-SQ.png"
                            width="160px"></a>&nbsp;<a
                            href="https://www.echohq.com/" target="_blank"><img src="/assets/images/sponsor-logos/echo-SQ.png"
                                width="160px"></a>


    <br />
    <br />


    <hr class="major">
    <h2 style="text-transform: uppercase;"><span class="icon
                        fa-microphone" style="color: turquoise;"></span>
        &nbsp;
        COMMUNITY & MEDIA PARTNERS &nbsp; <span class="icon
                        fa-microphone" style="color: turquoise;"></span> </h2>
    <a href="https://aws.amazon.com/local/israel/" target="_blank"><img src="/assets/images/sponsor-logos/aws-SQ.png"
            width="140px"></a>&nbsp;<a href="https://baz.co" target="_blank"><img
            src="/assets/images/sponsor-logos/baz-SQ.png" width="140px"></a>&nbsp;<a href="https://firefly.ai"
        target="_blank"><img src="/assets/images/sponsor-logos/firefly-SQ.png" width="140px"></a>&nbsp;<a
        href="https://baseshift.com" target="_blank"><img src="/assets/images/sponsor-logos/baseshift-SQ.png"
            width="140px"></a>&nbsp;<a href="https://minimus.io" target="_blank"><img
            src="/assets/images/sponsor-logos/minimus-SQ.png" width="140px"></a>&nbsp;<a
        href="https://open.spotify.com/show/1D8xJvi6UMANmutW63FoNI?si=d36eb8fa4df14723" target="_blank"><img
            src="/assets/images/sponsor-logos/devops_leaders_SQ.jpeg" width="140px"></a>&nbsp;<a
            href="https://senora.dev" target="_blank"><img src="/assets/images/sponsor-logos/senora-SQ.png"
                width="140px"></a>&nbsp;<a
        href="https://www.israeltech.com/" target="_blank"><img src="/assets/images/sponsor-logos/israeltech-SQ.png"
            width="140px"></a>&nbsp;<a href="https://statscraft.org.il" target="_blank"><img
            src="/assets/images/statscraft-SQ.png" width="140px"></a>&nbsp;
    <a href="https://opsschool.org.il" target="_blank"><img src="/assets/images/sponsor-logos/opsschool-circ.png"
            width="140px"></a> &nbsp;<a href="#" target="_blank"><img src="/assets/images/cloudnative-oss-SQ.png"
            width="140px"></a>&nbsp;<a href="https://www.facebook.com/groups/womenindevopsisrael" target="_blank"><img
            src="/assets/images/sponsor-logos/WIDO-SQ.png" width="140px"></a>


    <hr class="major">
    <br />

    <h2 style="text-align: center;">And Many More Who
        Make Our Amazing Community Possible</h2>
</div>