 <div class="box" style="text-align: center;">
    <h1 style="text-transform: uppercase;"><span class="icon fa-heart"
            style="color: turquoise;"></span>&nbsp; BIG THANKS TO OUR 2023
        EVENT SPONSORS &nbsp; <span class="icon fa-heart" style="color:
            turquoise;"></span></h1>
    <h2 style="text-transform: uppercase;"><span class="icon fa-star"
            style="color: turquoise;"></span>&nbsp; EVENT
        ORGANIZER &nbsp; <span class="icon fa-star" style="color:
            turquoise;"></span></h2>
    <a href="https://rtfmplease.dev" target="_blank"><img
            src="/assets/images/sponsor-logos/RTFM.png"
            width="150px"></a>

    <hr class="major">

    <div class="box" style="width: 100%; background-color: #c0d44f;;">

        <h2 style="color: #2a2f4a; text-transform: uppercase;">Diamond
            Sponsor</h2>
    </div>
    <a href="https://scylladb.com"
        target="_blank"><img
            src="/assets/images/sponsor-logos/scylla-SQ.png" width="250px"></a>
    <div class="box" style="width: 100%; background-color: lightgray;">

        <h2 style="color: #2a2f4a; text-transform: uppercase;">Platinum
            Sponsors</h2>
    </div>
    <a href="https://linearb.io"
        target="_blank"><img
            src="/assets/images/sponsor-logos/linearb-SQ.png" width="210px"></a>&nbsp;&nbsp;<a
        href="https://couchbase.com"
        target="_blank"><img
            src="/assets/images/sponsor-logos/couchbase-SQ.png" width="210px"></a>
    <!-- &nbsp;
        <a href="https://coralogix.com" target="_blank"><img
                src="/assets/images/sponsor-logos/coralogix-SQ.png"
                width="210px"></a>&nbsp;<a href="https://granulate.com"
            target="_blank"><img
                src="/assets/images/sponsor-logos/granulate-SQ.png"
                width="210px"></a>&nbsp;<a href="https://jit.io"
            target="_blank"><img
                src="/assets/images/sponsor-logos/jit-SQ.png" width="210px"></a>&nbsp;<a
            href="https://ermetic.com" target="_blank"><img
                src="/assets/images/sponsor-logos/ermetic-SQ.png" width="210px"></a>&nbsp;<a
            href="https://www.paloaltonetworks.com" target="_blank"><img
                src="/assets/images/sponsor-logos/panw-SQ.png" width="210px"></a>&nbsp;<a
            href="https://www.microsoft.com" target="_blank"><img
                src="/assets/images/sponsor-logos/microsoft-SQ.png"
                width="210px"></a>
        <br/> -->
    <br/>

        <div class="box" style="width: 100%; background-color:
            #ffd966;">

            <h2 style="color: #2a2f4a; text-transform: uppercase;">Gold
                Sponsors</h2>
        </div>

        <a href="https://armosec.com" target="_blank"><img
                src="/assets/images/sponsor-logos/armosec-SQ.png"
                width="160px"></a>&nbsp;<a
            href="https://komodor.com" target="_blank"><img
                src="/assets/images/sponsor-logos/komodor-SQ.png"
                width="160px"></a>&nbsp;<a
            href="https://aerospike.com/lp/get-to-know-aerospike/"
            target="_blank"><img
                src="/assets/images/sponsor-logos/aerospike-SQ.png"
                width="160px"></a>&nbsp;<a
            href="https://www.terasky.com" target="_blank"><img
                src="/assets/images/sponsor-logos/terasky-hashi-SQ.png"
                width="160px"></a>&nbsp;<a
            href="https://www.perfectscale.io" target="_blank"><img
                src="/assets/images/sponsor-logos/perfectscale-SQ.png"
                width="160px"></a>&nbsp;<a
            href="https://www.okteto.com" target="_blank"><img
                src="/assets/images/sponsor-logos/okteto-SQ.png"
                width="160px"></a>&nbsp;<a
            href="https://www.akeyless.io"
            target="_blank"><img
                src="/assets/images/sponsor-logos/akeyless-SQ.png"
                width="160px"></a>&nbsp;<a
            href="https://logz.io" target="_blank"><img
                src="/assets/images/sponsor-logos/logz-SQ.png"
                width="160px"></a>&nbsp;<a
            href="https://kubiya.ai" target="_blank"><img
                src="/assets/images/sponsor-logos/kubiya-SQ.png"
                width="160px"></a>&nbsp;<a
            href="https://quali.com" target="_blank"><img
                src="/assets/images/sponsor-logos/quali-SQ.png"
                width="160px"></a>&nbsp;<a
            href="https://groundcover.com" target="_blank"><img
                src="/assets/images/sponsor-logos/groundcover-SQ.png"
                width="160px"></a> <a
            href="https://www.env0.com/?utm_term=env0&utm_campaign=Q2Y21-WW-EN-BRAND&utm_source=adwords&utm_medium=ppc&hsa_acc=7646692719&hsa_cam=13533107918&hsa_grp=126150656800&hsa_ad=527929953107&hsa_src=g&hsa_tgt=aud-1299068082129:kwd-1123408754539&hsa_kw=env0&hsa_mt=e&hsa_net=adwords&hsa_ver=3&gclid=CjwKCAjwlrqHBhByEiwAnLmYUAQgwmhTS0BjxNDXgynjDRJ9e8QjWPzU7ftnXldHN3IK3ZfwITsLbRoCQeQQAvD_BwE"
            target="_blank"><img
                src="/assets/images/sponsor-logos/env0-SQ.png"
                width="160px"></a>&nbsp;<a
            href="https://circleci.com" target="_blank"><img
                src="/assets/images/sponsor-logos/circleci-SQ.png"
                width="160px"></a>&nbsp;<a
            href="https://cloudbeat.io" target="_blank"><img
                src="/assets/images/sponsor-logos/cloudbeat-SQ.png"
                width="160px"></a>&nbsp;<a
                href="https://www.bigpanda.io" target="_blank"><img
                    src="/assets/images/sponsor-logos/bigpanda-SQ.png"
                    width="160px"></a>&nbsp;<a
                    href="https://hetz.vc" target="_blank"><img
                    src="/assets/images/sponsor-logos/hetz-SQ.png"
                    width="160px"></a>&nbsp;<a
                    href="https://elastic.co" target="_blank"><img
                        src="/assets/images/sponsor-logos/elastic-SQ.png"
                        width="160px"></a>&nbsp;<a
                        href="https://www.eswlab.com/"
                        target="_blank"><img
                            src="/assets/images/sponsor-logos/ESL-SQ.png"
                            width="160px"></a>&nbsp;<a
                    href="https://directeam.io" target="_blank"><img
                        src="/assets/images/sponsor-logos/directeam-SQ.png"
                        width="160px"></a>&nbsp;<a
                    href="https://coralogix.com/" target="_blank"><img
                        src="/assets/images/sponsor-logos/coralogix-SQ.png"
                        width="160px"></a>&nbsp;<!--<a
                    href="https://medium.com/riskified-technology"
                    target="_blank"><img
                        src="/assets/images/sponsor-logos/riskified-SQ.png"
                        width="160px"></a>&nbsp;<a
                    href="https://cybereason.com/company/careers"
                    target="_blank"><img
                        src="/assets/images/sponsor-logos/cybereason-SQ.png"
                        width="160px"></a>&nbsp;<a
                    href="https://www.slim.ai/" target="_blank"><img
                        src="/assets/images/sponsor-logos/slimai-SQ.png"
                        width="160px"></a>&nbsp;<a
                    href="https://kaltura.com" target="_blank"><img
                        src="/assets/images/sponsor-logos/kaltura.png"
                        width="160px"></a> --><!--<a
                    href="https://www.singular.net" target="_blank"><img
                        src="/assets/images/sponsor-logos/singular-SQ.png"
                        width="160px"></a>&nbsp;<a href="https://wizards.ae/"
                    target="_blank"><img
                        src="/assets/images/sponsor-logos/wizards-SQ.png"
                        width="160px"></a>&nbsp;<a
                    href="https://wix.engineering/" target="_blank"><img
                        src="/assets/images/sponsor-logos/wix-SQ.png"
                        width="160px"></a>&nbsp;<a href="https://snyk.io"
                    target="_blank"><img
                        src="/assets/images/sponsor-logos/snyk-SQ.png"
                        width="160px"></a>&nbsp;<a href="https://newrelic.com"
                    target="_blank"><img
                        src="/assets/images/sponsor-logos/newrelic-SQ.png"
                        width="160px"></a>&nbsp;<a href="https://jfrog.com"
                    target="_blank"><img
                        src="/assets/images/sponsor-logos/jfrog-SQ.png"
                        width="160px"></a>&nbsp;<a
                    href="https://cloud.google.com/devops/?utm_source=web&utm_campaign=devopsdays-TLV"
                    target="_blank"><img
                        src="/assets/images/sponsor-logos/googlecloud-SQ.png"
                        width="160px"></a>&nbsp;<a
                    href="https://silverfort.com" target="_blank"><img
                        src="/assets/images/sponsor-logos/silverfort-SQ.png"
                        width="160px"></a>&nbsp;<a
                    href="https://sonatype.com" target="_blank"><img
                        src="/assets/images/sponsor-logos/esl-sonatype-SQ.png"
                        width="160px"></a>&nbsp;<a
                    href="https://netapp.com" target="_blank"><img
                        src="/assets/images/sponsor-logos/spot-netapp-SQ.png"
                        width="160px"></a>-->
        <br/>
            <br/>

                <div class="box" style="width: 100%; background-color:
                    turquoise;">

                    <h2 style="color: #2a2f4a; text-transform:
                        uppercase;">Community Sponsors & Partners</h2>
                </div>
                <!--  <a href="https://spectralops.io" target="_blank"><img
                                src="/assets/images/sponsor-logos/spectral-SQ.png"
                                width="140px"></a>&nbsp; <a
                            href="https://www.doit-intl.com/" target="_blank"><img
                                src="/assets/images/sponsor-logos/doit-SQ.png"
                                width="140px"></a>&nbsp;<a
                            href="https://cloudify.co" target="_blank"><img
                                src="/assets/images/sponsor-logos/cloudify-SQ.png"
                                width="140px"></a> <a
                            href="https://velocity.tech/" target="_blank"><img
                                src="/assets/images/sponsor-logos/velocity-SQ.png"
                                width="140px"></a>&nbsp;
                        <a href="https://iamondemand.com" target="_blank"><img
                                src="/assets/images/sponsor-logos/IOD-SQ.png"
                                width="140px"></a>&nbsp;<a href="https://pagerduty.com" target="_blank"><img
                                    src="/assets/images/sponsor-logos/pagerduty-SQ.png"
                                    width="140px"></a>&nbsp;<a href="https://pitango.com" target="_blank"><img
                                        src="/assets/images/sponsor-logos/pitango-SQ.png"
                                        width="140px"></a> -->&nbsp;
                <a href="https://statscraft.org.il" target="_blank"><img
                        src="/assets/images/statscraft-SQ.png"
                        width="140px"></a>&nbsp;
                <a href="https://opsschool.org.il" target="_blank"><img
                        src="/assets/images/sponsor-logos/opsschool-circ.png"
                        width="140px"></a> &nbsp;
                <a href="#" target="_blank"><img
                        src="/assets/images/cloudnative-oss-SQ.png"
                        width="140px"></a>&nbsp;
                        <a href="https://velocity.tech" target="_blank"><img
                                src="/assets/images/sponsor-logos/velocity-SQ.png"
                                width="140px"></a>




                <hr class="major">
                <h2 style="text-transform: uppercase;"><span class="icon
                        fa-microphone" style="color: turquoise;"></span>
                    &nbsp;
                    MEDIA PARTNERS &nbsp; <span class="icon
                        fa-microphone"
                        style="color: turquoise;"></span> </h2>
                <a
                    href="https://open.spotify.com/show/6zOz0Te3pMfukT5WfMeXYl"
                    target="_blank"><img
                        src="/assets/images/sponsor-logos/barvazgumi.png"
                        width="120px"></a>&nbsp;<a
                    href="https://devinterrupted.com" target="_blank"><img
                        src="/assets/images/sponsor-logos/devinterrupted.png"
                        width="120px"></a>


                <hr class="major">
                <br/>

                    <h2 style="text-align: center;">And Many More Who
                        Make Our Amazing Community Possible</h2>
                </div>
