
<div class="row" id="sponsor">
    <div class="box" style="width: 100%;">
        <br/>
            <h2 style="text-transform: uppercase;"><span class="icon
                    fa-hand-scissors-o" style="color: turquoise;"></span>&nbsp;
                SPONSOR THE EVENT &nbsp; </h2>


            <h3 style="text-transform: uppercase; color: #c0d44f;">Platinum
                Sponsor $12,500 (USD)
                <br/> <span style="text-transform: uppercase; color: red;
                        background-color: yellow;">SOLD OUT</span> </h3>
                <br/>
                    <br/>

                        <h3 style="text-transform: uppercase; color: orange;">Gold
                            Sponsor $8,500 (USD)
                            <br/><span style="text-transform: uppercase; color:
                                    red; background-color: yellow;">SOLD OUT</span>
                            </h3>

                            <br/>

                               <h3 style="text-transform: uppercase; color:
                                    #d95374;">Community Sponsor $6,500 (USD)
                                    <br/><span style="text-transform: uppercase;
                                            color: red; background-color:
                                            yellow;">SOLD OUT</span> </h3>


         <div class="row">
                                        <h2>Available Sponsorship Add-Ons</h2>
                                        <ul>
                                            <li> <span style="text-transform:
                                                    uppercase; color: #c0d44f;
                                                    font-weight: 700;">Demo
                                                    Theater</span> - 10-minute
                                                demo in the dedicated demo
                                                theater - $2500 USD (Limited
                                                Availability - Based on Agenda)</li>
                                            <li><strike>T-Shirt Sponsor - In
                                                    Kind (Cost of t-shirts) - 1
                                                    Available</strike> &nbsp;
                                                <strong style="text-transform:
                                                    uppercase; color: red;">SOLD
                                                    OUT</strong></li>
                                            <li><strike>Swag Bag Sponsor - In
                                                    Kind (Cost of swag bag) - 1
                                                    Available</strike>&nbsp;
                                                <strong style="text-transform:
                                                    uppercase; color: red;">SOLD
                                                    OUT</strong></li>
                                            <li><strike>Lanyard Sponsor - In
                                                    Kind (Cost of lanyard
                                                    branding) - 1 Available</strike>
                                                &nbsp; <strong
                                                    style="text-transform:
                                                    uppercase; color: red;">SOLD
                                                    OUT</strong></li>
                                            <li><span style="text-transform:
                                                    uppercase; color: turquoise;
                                                    font-weight: 700;">Other
                                                    Swag Sponsor (E.g. Masks /
                                                    Water Bottles)</span> - In
                                                Kind (Cost of swag)</li>
                                            <li><span style="text-transform:
                                                    uppercase; color: #a472d4;
                                                    font-weight: 700;">Cloud
                                                    Native & OSS T-Shirt Sponsor</span>
                                                - In Kind (Cost of t-shirts)</li>
                                            <li><strike>Half-Day
                                                        Technical Workshop
                                                    - Subject to content
                                                    moderation & description
                                                    with syllabus submission
                                                    -$5000 USD - 4 Available</strike>&nbsp;
                                             <strong
                                                    style="text-transform:
                                                    uppercase; color: red;">SOLD
                                                    OUT</strong></li>
                                        </ul>


      </div>
    </div>   
      </div>