<div class="box" style="text-align: center;">
    <h2 style="text-transform: uppercase;"> SPEAKER HIGHLIGHTS FROM PREVIOUS
        EVENTS
    </h2>
    <p>This year's theme is bringing the senior perspective, after <strong
            style="color:
            turquoise;">more than a decade of DevOps.</strong> <br/> We'll hear
            from some of the most seasoned technology professionals, and gain an
            understanding of how far we've  come, and where we go from here.<br/>
                <br/>
                </p>

                <script type="text/javascript"
                    src="https://sessionize.com/api/v2/a6uydt2i/view/SpeakerWall"></script>
                <!-- <script type="text/javascript" src="https://sessionize.com/api/v2/wbusfxdw/view/SpeakerWall"></script> -->
            </div>
