<div class="row" id="cfp"></div>
<div class="box" style="width: 100%;">

           <div class="row" style="text-align: center;">
           <h2 id="#cfp" style="text-transform: uppercase; color: turquoise;">Call for Papers is <span style="text-transform: uppercase; color: red; background-color: yellow;">CLOSED</span></h2>
            <br/>
            <div class="12u">
            <h4 style="text-align: left; font-weight: 700">CFP Review Timeline:</h4>
            <ul style="text-align: left;">
            <li><strong>CFP Close:</strong> August 31, 2022</li>
            <li><strong>CFP Review:</strong>  September 2022</li>
            <li><strong>Speaker Notifications:</strong>  Early-Mid October</li>
            <li><strong>Announce Lineup:</strong>  By End of October 2022</li>            
            </ul>
                       
             <h3 style="text-transform: uppercase; color: turquoise;">Thanks to everyone for your awesome submissions...now comes the hard part, decisions. Agenda...LOADING...(stay tuned)</h3>
                       
            </div>

            <p><strong>Please be advised - due to the complexity of the CFP selection, notification and acceptance process there may be talk submissions that DO NOT receive notifications before the full lineup is announced.  We will be sure to notify all speakers regarding the status of the talk proposal once the agenda is finalized. <br/>Your patience is appreciated.</strong></p>

    </div>
</div>
