<div class="inner">
<div class="box" style="width: 100%;">

           <div class="row" style="text-align: center;">
           <h2 id="#cfp" style="text-transform: uppercase; color: turquoise;">Call for Papers is <span style="text-transform: uppercase; color: red; background-color: yellow;"></span>NOW CLOSED</span></h2>
            <br/>
            <div class="12u">
            <h4 style="text-align: left; font-weight: 700">CFP Review Timeline:</h4>
            <ul style="text-align: left;">
            <li><strong>CFP Close:</strong> August 31, 2021 &nbsp;&nbsp;   <span style="text-transform: uppercase; color: turquoise;"><i class="fa fa-calendar"></i>  <a href="https://bit.ly/devopsdays-cfp-close-gcal" target="_blank">ADD REMINDER TO CALENDAR</a></span></li>
            <li><strong>CFP Review:</strong>  September 2021</li>
            <li><strong>Speaker Notifications:</strong>  Early October</li>
            <li><strong>Announce Lineup:</strong>  Mid-October 2021</li>            
            </ul>
           <!-- <ul class="actions"><li><a href="https://www.papercall.io/devopsdays-tlv-2021" target="_blank" class="button next">Apply to Speak</a></li></ul> --> 
            </div>

    </div>
</div>