<div class="box" style="width: 100%; text-align: center;">
    <h2 style="text-transform: uppercase;">ANNOUNCING 2021 Highlight Speakers</h2>
    <div class="row">
        <div class="row 20% uniform">

            <div class="3u">
                <a href="#open-modal-1"><img src="/assets/images/speakers/mark.png" alt="Dr. Mark Burgess"
                        width="200" /></a>
                <ul class="icons"><span style="text-transform: uppercase; color: turquoise; font-weight: 700;">DR. MARK
                        BURGESS</span> <br /> <span style="text-transform: uppercase;"> Technologist, Scientist & Author
                        - Specializing in the Physics of Information Systems</span><br />
                    <li><a href="https://twitter.com/markburgess_osl" target="_blank" class="icon fa-twitter"></a></li>
                    <li><a href="https://www.linkedin.com/in/markburgessoslo/" target="_blank"
                            class="icon fa-linkedin"></a></li>
                    <li><a href="https://github.com/markburgess" target="_blank" class="icon fa-github"></a></li>
                </ul>

                <div id="open-modal-1" class="modal-window">
                    <div><a href="#1" title="Close" class="modal-close">X</a>
                        <h4 style="text-transform: uppercase;">MARK BURGESS, PHD | KEYNOTE SPEAKER</h4>
                        <div></div>
                        <div><small>
                                <h4>Abstract:</h4>
                                <p>At the heart of all processes in the world is a basic causality that we capture
                                    through rules and
                                    laws, in physics, biology, chemistry--in all the sciences. It's common to imagine
                                    that the virtual
                                    world of simulating processes on computers belongs to a different world altogether,
                                    but research
                                    into computer networks over the past 30 years reveals that we've been looking too
                                    narrowly at these
                                    different realms. Physics and network computing have a lot in common, and it's not
                                    just for quantum
                                    computers--the Internet itself behaves very much like quantum mechanics when we look
                                    at it in a
                                    certain way and on a certain scale. Mark Burgess has pioneered this research and has
                                    explained it in
                                    several books. His keynote is part computing, part physics, he'll talk about what
                                    this all means for
                                    the future of computing, and how this helps us to understand problems from cloud to
                                    machine
                                    learning.</p>
                                <h4>Bio:</h4>
                                <p>Physicist, technologist, advisor to public and private organizations
                                    globally---author, founder and original architect of <a href="http://cfengine.com/"
                                        target="_blank">CFEngine</a>, founder of <a href="http://chitek-i.org/"
                                        target="_blank">ChiTek-i</a>, and <a href="http://aljabr.io/"
                                        target="_blank">Aljabr</a>. International technology advisor, and public
                                    speaker. Contributor to the science and technology of distributed computer systems
                                    in today's Internet Infrastructure, especially through semantics of Configuration
                                    and <a href="http://markburgess.org/promises.html" target="_blank">Promise
                                        Theory</a>. Popularizer of science, and advocate for science's cultural
                                    importance in modern education, as well as part time composer.</p>
                                <p>Previously Professor of Networks and Systems at Oslo (Metropolitan) University,
                                    teaching in Physics, Mathematics, Operating Systems, Network and System
                                    Administration, Networking Technologies, laboratory skills, Programming Languages,
                                    Computer Security and many seminar series on scientific methods for PhD students. I
                                    abandoned this position to work in the field. I assist in the editing of a number of
                                    scientific journals.</p>
                            </small></div>
                    </div>
                </div>

            </div>

            <div class="3u">
                <a href="#open-modal-2">
                    <img src="/assets/images/speakers/ellen.png" alt="Ellen Chisa" width="200" /></a>
                <ul class="icons"><span style="text-transform: uppercase; color: turquoise; font-weight: 700;">ELLEN
                        CHISA</span> <br /> <span style="text-transform: uppercase;"> FOUNDER IN RESIDENCE,
                        BOLDSTART VENTURES</span><br />
                    <li><a href="https://twitter.com/ellenchisa" target="_blank" class="icon fa-twitter"></a></li>
                    <li><a href="https://www.linkedin.com/in/ellenchisa/" target="_blank" class="icon fa-linkedin"></a>
                    </li>
                    <li><a href="https://github.com/ellenchisa" target="_blank" class="icon fa-github"></a></li>
                </ul>

                <div id="open-modal-2" class="modal-window">
                    <div><a href="#2" title="Close" class="modal-close">X</a>
                        <h4 style="text-transform: uppercase;">ELLEN CHISA | KEYNOTE SPEAKER</h4>
                        <div>
                            <strong>BIO:</strong>
                            <small>
                                <p>Ellen is Founder in Residence at boldstart Ventures. She joined the boldstart
                                    team in January 2021,
                                    after having worked with the team as a founder at Dark. Her role allows her to
                                    do exactly what she
                                    loves – some investing and hands-on support for founders building pre-product,
                                    dev-focused,
                                    enterprise companies.</p>

                                <p>Prior to boldstart and founding Dark, she worked at Blade as an EIR, seeding the
                                    work for what became
                                    Lola. She also worked on backer-facing projects at Kickstarter and on the first
                                    versions of Office
                                    for non-Microsoft phone platforms. The common thread is building tools that help
                                    people to do
                                    creative work.</p>

                                <p>Ellen has an a M.B.A from Harvard Business School, and a B.S in Electrical and
                                    Computer Engineering
                                    from Franklin W. Olin College of Engineering. She grew up in Rochester Hills,
                                    MI, but now lives in
                                    Somerville, MA with her husband and her cat, Gutenberg.</p>
                            </small>
                        </div>
                    </div>
                </div>
            </div>


            <div class="3u">
                <a href="#open-modal-5"><img src="/assets/images/speakers/miri.png" alt="Miri Curiel" width="200" /></a>
                <ul class="icons"><span style="text-transform: uppercase; color: turquoise; font-weight: 700;">MIRI
                        CURIEL</span> <br /><span style="text-transform: uppercase;"> Tech Management Expert,
                        Executive Coach and Mentor, Speaker & Advocate for Women in Tech </span> <br />
                    <li><a href="https://www.linkedin.com/in/miri-curiel/" target="_blank" class="icon fa-linkedin"></a>
                    </li>
                </ul>

                <div id="open-modal-5" class="modal-window">
                    <div><a href="#5" title="Close" class="modal-close">X</a>
                        <h4 style="text-transform: uppercase;">MIRI CURIEL | ENGINEERING LEADERSHIP</h4>
                        <div style="text-transform: uppercase;">WORKSHOP: How to initiate a technology change and
                            make it happen</div>
                        <div><small></small></div>
                    </div>
                </div>

            </div>

            <div class="3u">
                <a href="#open-modal-4"><img src="/assets/images/speakers/wolfgang.png"
                        alt="J. Wolfgang Goerlich - Duo Security" width="200" /></a>
                <ul class="icons"><span style="text-transform: uppercase; color: turquoise; font-weight: 700;">J.
                        WOLFGANG GOERLICH </span><br /> <span style="text-transform: uppercase;"> ADVISORY CISO, DUO
                        SECURITY</span> <br />
                    <li><a href="https://twitter.com/jwgoerlich" target="_blank" class="icon fa-twitter"></a></li>
                    <li><a href="https://www.linkedin.com/in/jwgoerlich/" target="_blank" class="icon fa-linkedin"></a>
                    </li>
                    <li><a href="https://github.com/jwgoerlich" target="_blank" class="icon fa-github"></a></li>
                </ul>

                <div id="open-modal-4" class="modal-window">
                    <div><a href="#4" title="Close" class="modal-close">X</a>
                        <h4 style="text-transform: uppercase;">SPOTLIGHT TALK: Nudge and Sludge: Driving Security with
                            Design</h4>
                        <div style="text-transform: uppercase;"></div>
                        <div><small>Security people say users are the weakest link. But are they? When complying with
                                security becomes too burdensome, users take shortcuts, find workarounds, and end up
                                jeopardizing security. Blaming users is lazy and easy. Making security usable is time
                                consuming and challenging. How does design research help us understand our customers?
                                What patterns and principles drive secure behavior? How can we build empathy with
                                customers and make the right thing to do the easiest thing to do? This session explores
                                these questions, and provides examples of how design thinking and research can help us
                                be more secure. We will walk through our creation of core user personas, design
                                principles, and how these inform and direct our design choices and intent. Don’t blame
                                your users anymore. Come learn how to be part of a future where usability leads
                                security.</small></div>

                        <p><span style="text-transform: uppercase; color: white; font-size: 15px; font-weight: 400;"><strong>BIO:</strong>
                                J. Wolfgang Goerlich is an Advisory CISO for Duo Security. He has been responsible for
                                IT
                                and IT security in the healthcare and financial services verticals. Wolfgang has led
                                advisory and assessment practices in cybersecurity consulting firms.</span></p>
                    </div>
                </div>

            </div>
        </div>

        <div class="row 20% uniform">

            <div class="3u">
                <a href="#open-modal-3"><img src="/assets/images/speakers/adi.png" alt="Adi Shacham-Shavit"
                        width="200" /></a>
                <ul class="icons"><span style="text-transform: uppercase; color: turquoise; font-weight: 700;">ADI
                        SHACHAM-SHAVIT</span><br /> EVP ENGINEERING, CLEAR <br />
                    <li><a href="https://twitter.com/adishsh/" target="_blank" class="icon fa-twitter"></a></li>
                    <li><a href="https://www.linkedin.com/in/adi-shacham-shavit/" target="_blank"
                            class="icon fa-linkedin"></a></li>
                    <li><a href="https://github.com/adishachamshavit" target="_blank" class="icon fa-github"></a></li>
                </ul>

                <div id="open-modal-3" class="modal-window">
                    <div><a href="#3" title="Close" class="modal-close">X</a>
                        <h4 style="text-transform: uppercase;">ADI SHACHAM-SHAVIT | ENGINEERING LEADERSHIP</h4>
                        <div style="text-transform: uppercase;">WORKSHOP: Stay on-top of your technical backlog and live
                            to tell</div>
                        <div><small></small></div>
                    </div>
                </div>
            </div>




            <div class="3u">
                <a href="#open-modal-6"><img src="/assets/images/speakers/jonathan.png"
                        alt="Jonathan Kingsley - Orbit Labs" width="200" /></a>
                <ul class="icons"><span style="text-transform: uppercase; color: turquoise; font-weight: 700;">JONATHAN
                        KINGSLEY</span> <br /> <span style="text-transform: uppercase;"> Lead, Infrastructure and
                        Security, Orbit Labs</span><br />
                    <li><a href="https://twitter.com/JFKingsley" target="_blank" class="icon fa-twitter"></a>
                    </li>
                    <li><a href="https://www.linkedin.com/in/jfkingsley/" target="_blank" class="icon fa-linkedin"></a>
                    </li>
                    <li><a href="https://github.com/JFKingsley" target="_blank" class="icon fa-github"></a></li>
                </ul>

                <div id="open-modal-6" class="modal-window">
                    <div><a href="#6" title="Close" class="modal-close">X</a>
                        <h4 style="text-transform: uppercase;">SPOTLIGHT TALK: Cracks in the Façade</h4>
                        <div></div>

                        <div><small>
                                <p>In this bleak, depressing talk we will discuss some of the ways computer science and
                                    computer
                                    security has fallen flat on its face, and how you can avoid making the same
                                    mistakes, with
                                    just a soupçon of humor for good measure.</p>

                                <p>We will break these problems down and hopefully learn some important lessons, such as
                                    not
                                    allowing your door locks to call system(), how to properly secure your corner of the
                                    Internet Of Things, a crash course in processor architectures and how they lie to
                                    you, and
                                    how the inevitable heat-death of the universe is a result of RSA.</p>

                                <p>Hopefully, you’ll emerge feeling smarter, discussing new topics, and slightly
                                    terrified.</p>
                            </small></div>

                        <span
                            style="text-transform: uppercase; color: white; font-size: 15px; font-weight: 400;"><strong>BIO:</strong>
                            <p>By day, Jonathan Kingsley is a Senior SRE, security consultant and occasional
                                pyrotechnician.
                                While he generally focuses on building awesome software, his real passion lies in the
                                weird and
                                wonderful corners of technology. In his downtime, he likes to lead climb, fence epee and
                                write
                                screenplays.
                            </p>

                        </span>
                    </div>
                </div>

            </div>



            <div class="3u">
                <a href="#open-modal-7"><img src="/assets/images/speakers/eynav.png" alt="Eynav Mass - Oribi"
                        width="200" /></a>
                <ul class="icons"><span style="text-transform: uppercase; color: turquoise; font-weight: 700;">EYNAV
                        MASS</span><br /> VP ENGINEERING, ORIBI <br />
                    <li><a href="#" target="_blank" class="icon fa-twitter"></a></li>
                    <li><a href="https://www.linkedin.com/in/eynavmass/" target="_blank" class="icon fa-linkedin"></a>
                    </li>
                </ul>

                <div id="open-modal-7" class="modal-window">
                    <div><a href="#7" title="Close" class="modal-close">X</a>
                        <div>
                            <small>
                                <h4 style="text-transform: uppercase;">DEVOPS TALK: One-size
                                    doesn't fit all - Effectively (re)evaluate a data solution for your system</h4>

                                <p>When it comes to data solutions, one-size doesn’t fit all. Choosing the right
                                    best-matching database, or data tools, can be a game changer for your system. How
                                    can
                                    you take such decision effectively? The system, the company, the product, and
                                    probably
                                    your team - all are evolving, and the best solution for today may not fit tomorrow’s
                                    needs. In order to pick a data solution for longer term, you should evaluate the
                                    optional data tools according to several factors. These factors will reflect the
                                    requirements looking forward.</p>

                                <p>At this session, we will share such use case, of evaluating data solution, when we
                                    redesigned one of Oribi features from scratch. Our goal was to avoid a data
                                    explosion
                                    crisis, while the system kept scaling up. Having so many solutions out there - we
                                    needed
                                    to make sure that we are choosing the one that will support the increasing load
                                    farthest.</p>

                                <p>Eventually we picked up ten criteria factors, which we used to compare and choose the
                                    best solution effectively. Join the session to hear what were these factors, and get
                                    prepared for choosing the next data solution for your system.</p>

                                <p>
                                    <span
                                        style="text-transform: uppercase; color: white; font-size: 15px; font-weight: 400;"><strong>BIO:</strong>
                                        Eynav is a fan of the combination of technology and people - bringing technical
                                        visions into implementation. For the past 2 years she has been leading the R&D
                                        group
                                        at Oribi, a big-data based product, that handles billions of events a day, while
                                        scaling both the system and the engineering group. Her main focus is to create
                                        processes that support high scale & high standards; striving to maintain
                                        scalable
                                        R&D groups and infrastructure environments, while investing in personal growth
                                        and
                                        deployments quality.</span>
                                </p>

                            </small>
                        </div>
                    </div>
                </div>
            </div>



            <div class="3u">
                <a href="#open-modal-8"><img src="/assets/images/speakers/phrawzty.png"
                        alt="J. Wolfgang Goerlich - Duo Security" width="200" /></a>
                <ul class="icons"><span style="text-transform: uppercase; color: turquoise; font-weight: 700;">DANIEL
                        MAHER </span><br /> <span style="text-transform: uppercase;"> DEVELOPER ADVOCATE, DATADOG</span>
                    <br />
                    <li><a href="https://twitter.com/phrawzty" target="_blank" class="icon fa-twitter"></a></li>
                    <li><a href="https://www.linkedin.com/in/dan-phrawzty-maher/" target="_blank"
                            class="icon fa-linkedin"></a></li>
                    <li><a href="https://github.com/phrawzty" target="_blank" class="icon fa-github"></a></li>
                </ul>

                <div id="open-modal-8" class="modal-window">
                    <div><a href="#8" title="Close" class="modal-close">X</a>
                        <div>
                            <small>
                                <h4 style="text-transform: uppercase;">STATSCRAFT TALK: PRINCIPLES OF OBSERVABILITY</h4>

                                <p>The word observable entered the English language roughly 400 years ago, but the
                                    concepts
                                    of what it means to see, comprehend, and understand something have been debated
                                    since
                                    time immemorial. Starting in the 19th century, a series of postulates and criteria
                                    coalesced into control theory, and it is from this body of knowledge that we gained
                                    the
                                    word “observability”. Today, with the advent of complex, interconnected computer
                                    systems, that word has taken on new meanings and connotations—some useful, some
                                    detrimental, and some just plain confusing.</p>

                                <p>In this talk, we’ll mix a little history, a touch of philosophy, and a healthy dose
                                    of
                                    reality, to demystify what observability means to us as professional computer
                                    people.
                                    We’ll tear through the marketing material and unearth foundational principles that
                                    will
                                    help us to build better infrastructure, write better software, and promote healthier
                                    business practices. Finally, we’ll explore some potential new avenues for discussion
                                    and
                                    understanding.</p>
                            </small>


                            <p><span
                                    style="text-transform: uppercase; color: white; font-size: 15px; font-weight: 400;">
                                    <strong>BIO:</strong>
                                    Dan is a veteran of the dotcom bubble, and has been variously a system
                                    administrator,
                                    university lecturer, start-up founder, and day labourer. As a member of the
                                    Devopsdays
                                    Core team, he has had the privilege of speaking and keynoting at events around the
                                    world. Today, he is a Developer Evangelist at Datadog, a role that mixes two of his
                                    great passions: measuring things, and talking about measuring things.</span></p>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


        <div class="row">
            <div class="12u">

                <h3><span style="text-transform: uppercase; color: turquoise;">THE FULL PROGRAM IS NOW LIVE...CHECK IT
                        OUT!</span></h3>
                <ul class="actions">
                    <li><a href="/devopsdays/agenda-2021" class="button special fit">VIEW EVENT PROGRAM
                        </a></li>
                </ul>

            </div>
        </div>


</div>