<div class="box" style="text-align: center;">
    <h2 style="text-transform: uppercase;"> <span style="font-family: 'Nosifer', cursive;
        color: #ff7100;"> THE AGENDA IS LIVE!</span>  <br/>
        <span style="font-family: 'Eater', cursive; color: orangered;">👻 Check OUT OUR BOOOO-TIFUL SPEAKERS!</span>
    </h2>
    <p>This year's theme is HORROR STORIES...prepare to be SPOOKED!<br/>
                <br/>
                </p>

                <script type="text/javascript" src="https://sessionize.com/api/v2/dhotxgef/view/SpeakerWall"></script>


                <p>View the full agena and be sure to join us!</p>

                <a href="/devopsdays/agenda-2023" class="button next scrolly">CHECK OUT THE AGENDA</a>

            </div>



